extends ../layout.pug
block content
  .container-fluid.my-5
    h1 Edit menulocation
    a.btn.mr-3.btn-outline-primary(href="/admin/menulocations")="Back"
    button.btn.btn-primary(type='submit') Update
    form.my-3.form-signin(method='POST', action='/admin/menulocations/update/'+menulocation._id+'?_method=PUT')

      .mb-3
        label(for='inputName') Name
        input#inputName.form-control(name='name', type='text', placeholder='Name', value=menulocation.name required='', autofocus='')


