extends ../layout.pug
block content
  .bg-light
    .container-fluid.mt-5
      +pageForm
      a.btn.btn-outline-primary.mr-3(href="/admin/pages")="Back"
      a.btn.btn-outline-primary(target="_blank" href="/pages/"+page.slug)="Show"
