extends ../layout.pug
block content
  .container.mt-5
    +jobform
    a.btn.btn-outline-primary.mr-3(href="/admin/jobs")="Back"
    a.btn.btn-outline-primary(target="_blank" href="/jobs/"+job.slug)="Show"
