extends ../layout.pug
block content
  .bg-light.py-5
    .container-fluid
      h1 Employees
      .row
        .col-md-8
          .row
            each employee in employees
              if !employee.language || employee.language && employee.language.title == "en"
                +singleEmployee(employee)

        .col-md-4
          +employeeForm


