extends ../layout.pug
block content
  .bg-light.py-5
    .container
      +employeeForm

  .bg-white.py-5
    .container
      h2 All employees
      .row
        each employee in employees
          +singleEmployee(employee)