extends ../layout.pug
block content
  
  .container
    h1 Admin Jobs
    .btn-group.mt-3(role="group" aria-label="Basic example" )
      a.btn.btn-outline-primary(href="/admin/jobs/fetchjobs")="Fetch jobs from Personio"
      a.btn.btn-outline-danger(href="/admin/jobs/deletejobs")="Delete all"
    .row
      each job in jobs
        .col-md-6
          a(href="/jobs/"+job.slug)
            .p-3.mb-3.bg-white.border-0.hover-shadow
              h2.mr-3=job.name
              p
                span.mr-2 Location:
                each location in job.locations
                  span.badge.badge-primary.mr-2=location.name
              