extends ../layout.pug
block content
  
  .container
    h1 Admin Location
    .row
      .col-md-8
        ul.list-group
          each location in locations
            li.list-group-item.mb-3
              h2.mr-3=location.name
              form.d-flex.justify-content-between(method='POST', action='/admin/locations/delete/'+location._id +'?_method=DELETE')
                if user
                  .d-flex.align-items-center
                    a.btn.btn-outline-primary.mr-2(href="locations/edit/"+location._id) Edit
                    button.btn.btn-outline-danger(type='submit') Delete

      .col-md-4
        +formLocation