extends ../layout.pug
block content
  .container
    h1 Page menulocations
    .row
      .col-md-8
        ul.list-group
          each menulocation in menulocations
            li.list-group-item.mb-3
              h2.mr-3=menulocation.name
              = menulocation.pages
              form.d-flex.justify-content-between(method='POST', action='/admin/menulocations/delete/'+menulocation._id +'?_method=DELETE')
                if user
                  .d-flex.align-items-center
                    a.btn.btn-outline-primary.mr-2(href="menulocations/edit/"+menulocation._id) Edit
                    button.btn.btn-outline-danger(type='submit') Delete

      .col-md-4
        form.form-signin(method='POST', action='/admin/menulocations?alert=create')
          h2 Create a new Menulocation
          
          .mb-3
            label(for='inputName') Name
            input#inputName.form-control(name='name', type='text', placeholder='Name', required='', autofocus='')
            
            
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Create
