extends ../layout.pug
block content
  div.cont_principal
    div.cont_error
      h1 404 Page Not Found
      p The Course you're looking for isn't here.
        a(href='/admin/courses') courses
    div.cont_aura_1
    div.cont_aura_2