extends ../layout.pug
block content
  .container
    h1 Admin Partners
    +partnerForm
    h1.display-1 All partners
    ul.list-group
      each partner in partners
        li.list-group-item.mb-3.hover-shadow
          h2.mr-3=partner.title
          if partner && partner.partnerlogo
            img.w-100.mw-150.mh-150.object-fit-cover(src="/images/"+partner.partnerlogo)
          div.mr-3
            span.mr-2.mb-2
              = "Order: "
              =partner.order
            
          if user && user.admin === "true"
            form.d-flex.justify-content-between(method='POST', action='/admin/partners/delete/'+partner._id +'?_method=DELETE')
              a.btn.btn-outline-primary.mr-2(href="/partners/"+partner._id) Show

              .d-flex.align-items-center
                a.btn.btn-outline-primary.mr-2(href="/admin/partners/edit/"+partner._id) Edit
                button.btn.btn-outline-danger(type='submit') Delete
