extends ../layout.pug
block content
  .container
    h1 Admin Stories
    .row
      .col-md-8
        .row
          each story in stories
            .col-sm-12.d-flex.story-cards-li
              +singleStory(story)
      .col-md-4
        +storyForm
