extends ../layout.pug
block content
  .container
    h1 Admin Stories
    .row
      each story in stories
        .col-sm-12.col-lg-4.d-flex.story-cards-li
          +singleStory(story)
      .col-md-12
        +storyForm
