extends layout.pug
block content
  .container.noFoundPage
    div
      div.pb-5
        h1.my-5 This page could not be found
        a(href="/") Click to go back
        p You will automatically get redirected after 
          span.timerRedirect 5 
          span secondes

