extends layout.pug
block content
  .jumbotron.jumbotron-fluid.jumbotron-singleCourse.text-center.bg-transparent
    .bg-primary.position-fixed.left.top.z-minus.h-100.w-100
      video.object-fit-cover.h-100.half-transparent.w-100(autoplay='', muted='', loop='')
        source(src='/media/video.mp4', type='video/mp4')

    .jumbotron-courses-container.text-white.container.px-md-5
      h1.display-1.mt-5.mb-3.text-white Courses
      h2.text-white Learn hands-on with technology right from the start.
      p.lead.mb-3 
        | We have designed an immersive and intense curriculum to get you working fast and learning the skills and powerful tools needed for your digital career.

        | Our courses are all about upgrading your skills with flexible formats and self-propelled home learning.

        | The program requires passion, dedication, and grit­ in order to succeed.


    
  section#services.h-100
    .container.h-100
      .bg-light.h-100
        .row
          each course in courses
            .col-md-6.col-lg-4
              .bg-light.hover-shadow.text-center.p-3
                a(href="/courses/"+course.slug)                  
                  .m-3.row.position-relative
                    .col-10.offset-1.col-md-8.offset-md-2.align-items-center
                      img.object-fit-cover.img-fluid.rounded-circle.square(alt=course.headline src="/media/pixel.gif" style="background-image: url('/images/"+course.icon+"')")
                  
                  h4.service-title= course.headline
                  p=course.title
      
