extends layout.pug
block content
  section#services.section-services
    .container
      h1.display-2
        | Our Courses
      .row
        each course in courses
          .col-md-6.col-lg-4
            .service-item
              a.service-link(href="/courses/"+course.slug)
                span.screen-reader-text
                  = course.title
              .service-image.icon-image
                img.h-100(src="/images/"+course.icon, alt=course.title)
              .service-content
                h4.service-title= course.headline
                p=course.title
    
