extends layout.pug
block content
  .jumbotron.jumbotron-fluid.jumbotron-singleCourse.text-center.bg-transparent
    .bg-primary.position-fixed.left.top.z-minus.h-100
      img.half-transparent.w-100.h-100.object-fit-cover(alt="our team" src='/media/team.jpg')
    .jumbotron-courses-container.text-white.container
      .px-md-5
        h1.display-1.mt-5.mb-3.text-white Our Team
        p.lead.mb-3 Our team consists of entrepreneurs, employees and freelancers of the Berlin Start-up scene. What we all have in common is our willingness to help, our professional networks and the opportunity to connect the tech scene with people who had to flee their homeland.
        p.lead.mb-5 Or anyone who would like to start a career in tech regardless of their background.


  .container.mt-md-5
    .bg-light.p-3
      .row.justify-content-center
        each employee in employees
          +singleEmployee(employee)
