extends layout.pug
block content
  .container
    h1.mainTexts.responsiveD-3.my-5.display-3.text-left.my-5 
      = "See our recent Events from "
      =location.name
    each event in events
      +singleEvent(event)
