extends layout.pug
block content
  .jumbotron.jumbotron-fluid.text-center
    h1.display-1
      = "Events in "
      =location.name

  .container.pb-200
    .row
      each event in events
        +singleEvent(event)
