extends layout.pug
block content
  .jumbotron.jumbotron-fluid.jumbotron-singleCourse.text-center.bg-transparent
    .bg-primary.position-fixed.left.top.z-minus.h-100.right
      img.half-transparent.w-100.h-100.object-fit-cover(alt="some guys programming" src='/media/bg3.jpg')
    .jumbotron-courses-container.text-white
      h1.display-1.mt-5.mb-3.text-white All events in our locations
      p.lead.mb-5 Hackthons, Infoevents and Jobfairs

  .container.bg-light
      .row.pt-3
        each location in eventsByLocation
          .col-md-6
            h2=location.name
            each event in location.events
              +singleEvent(event)


