extends layout.pug
block content
  +navigation
  .section
    +video
    +jumbotron
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents
    +partners
    +contactform

    //the modal will be shown after 5sec only once. In order to see the modal again clear the localStorage
    .modal#contactFormModal
      +contactform
    +footer
    //+storylist(true)
