extends layout.pug
block content
  
  .section
    +home
    if currentPath == "/"
      +navigation
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents
    +partners
    .container.mt-5.text-left
      .row
        .col
          h1.my-5.display-1 STORIES
          h2.mb-5 Meet our happy students 
            span.orange-dot .
      +storylist
    +getinvolved
    +contactform
    
    //+storylist(true)
