extends layout.pug
block content
  
  .section
    +home
    if currentPath == "/"
      +navigation
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents
    +partners
    +contactform
    +getinvolved
    
    //+storylist(true)
