extends layout.pug
block content
  
  .section
    +home
    if currentPath == "/"
      +navigation
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents    
    section#stories.my-5
      .container
        .section-title-area
          h1.display-1.text-left.ml-5
            div.headingSection.display-1.font-weight-bold.text-left
              | STORIES
            
          h2.my-5.text-left.ml-5 Meet our happy students.
          .row.mx-5
            +storylist
    +getinvolved
    +partners
    +contactform
    
    //+storylist(true)
