extends layout.pug
block content
  
  .section
    +home
    if currentPath == "/"
      +navigation
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents    
    section#stories.my-5
      .container
        .section-title-area
          h1.display-1.ml-5
            div.headingSection.display-1.text-center
              | STORIES
            
          h2#storiesH2.my-5.text-center.ml-5 Meet our happy students.
          .row.mx-4
            +storylist
    +getinvolved
    +partners
    +contactform
    
    //+storylist(true)
