extends layout.pug
block content
  
  .section
    +video
    +jumbotron
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents
    +partners
    +contactform
    +getinvolved

    //the modal will be shown after 5sec only once. In order to see the modal again clear the localStorage
    .modal#contactFormModal
      +contactform
 
    //+storylist(true)
