extends layout.pug
block content
  
  .section
    +home
    if currentPath == "/"
      +navigation
    +ourCoursesSection
    +testimonialsDevugees
    +statsCounter
    +quote
    +upcomingEvents    
    section#stories.my-5
      .container
        .section-title-area
          h2.section-title.mainTexts
              | STORIES
            
          h3#storiesH2.mb-5 Meet our happy students
          .row.mx-4
            +storylist
    +getinvolved
    +partners
    +contactform
    
    //+storylist(true)
