extends layout.pug
block content
  
  .container.my-5.p-5.text-left
    .row
      h1.mb-3 Would you like to work with DCI?
      p We offer on a roling basis different jobs in teaching and administration at DCI. Become part of an amazing team in one of German’s most interesting social impact companies.
      .mt-5
        +joblist(true)
           
