extends layout.pug
block content
  
  .container.my-5

    h1.my-5 Login

    form(method='post' action='/users/login')
      .form-group
        label Username
        input.form-control(type='text' name='username' placeholder='Username')
      .form-group
        label Password
        input.form-control(type='password' name='password' placeholder='Password')
      button.btn.btn-primary(type='submit') Submit
