extends layout.pug
block content
  
  .container.py-5
    h1.display-1.d-block=model.title
    p.lead.pSize !{model.toHTML}

  

    if user && user.admin === "true"
      div.mt-3
      a.btn.btn-outline-primary(href='/admin/pages/edit/'+model.slug) Edit page