extends layout.pug
block content
  
  .container.py-5
    h1.display-1.d-block=page.title
    p.lead.pSize !{page.toHTML}

  

    if user
      div.mt-3
      a.btn.btn-outline-primary(href='/admin/pages/edit/'+page.slug) Edit page