extends layout.pug
block content
  .container.py-5
    h1= job.name
    .row
      .col-md-8
        .mb-3
          = "Available in: "
          each loc in job.locations
            = loc.name
        p
          =job.content
        
