extends layout.pug
block content
  .jumbotron.text-center.bg-transparent
    h1.display-1.mt-5.mb-3 Would you like to work with DCI?
    p.lead.mb-3 We offer on a roling basis different jobs in teaching and administration at DCI. Become part of an amazing team in one of German’s most interesting social impact companies.



  .container.py-3.bg-light
    .row
      .col-md-12
        h1= job.name
        p
          span.mr-2 Location:
          each location in job.locations
            span.badge.badge-primary.mr-2=location.name

        each description in job.description
          if description
            h3.mr-3=description.name
            p.mr-3 !{description.value}

        .d-flex.align-items-center
          a.btn.btn-outline-primary.mr-2(href="/jobs") Back
          a.btn.btn-outline-primary(target="_blank" rel="noopener" href="https://dci-jobs.personio.de/job/"+ job.personio_id+"#apply") Apply
