extends layout.pug
block content
  .container.my-5
    div.story-item.py-5

      .row
        .col-md-8.offset-md-2
          +storyImages(story)
          h2=story.alumniName
          blockquote.blockquote
            p.text-muted=story.excerpt
            //-footer.blockquote-footer
              //-| Someone famous in 
              //-cite(title='Source Title') Source Title
          p.text-justify="Current position: "+story.workPosition     
          .mt-4
            p.text-justify=story.content
          
          a(href='/stories') +Back
          if user && user.admin === "true"
            div.mt-3
              a.btn.btn-outline-info(href='/admin/stories/edit/'+story.slug) Edit story
