extends layout.pug
block content
  .jumbotron.jumbotron-fluid.text-center.bg-transparent
    .jumbotron-courses-container
      h1.display-1.mt-5.mb-3=__("Stories")
      p.lead.mb-5=__("Lets transform your future into one of our success stories")

  .container.pt-3.bg-white.h-100.pb-5
    .row
      each story in stories
        li.col-md-6.col-sm-12.col-lg-4.d-flex.mb-4
          .hover-shadow.bg-light.w-100
            +singleStory(story)
