extends layout.pug
block content
  .container.my-5
    div.story-item.py-5
      .row
        .col-2
          img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.avatar+"')")
        .col-2
          img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.companylogo+"')")
        .col 
          h2=story.alumniName
          p.text-justify=story.workPosition     
      .mt-4
        p.text-justify=story.content
      
      a(href='/stories') +Back
      if user && user.admin === "true"
        div.mt-3
          a.btn.btn-outline-info(href='/admin/stories/edit/'+story.slug) Edit story