extends layout.pug
block content
  .container.py-5
    .row
      .col
        h1.display-1 Stories
        h3.mb-5 Meet our happy students.
        .row
          each story in stories
            li.col-md-6.col-sm-12.col-lg-4.d-flex.story-cards-li
              +singleStory(story)
