extends layout.pug
block content
  .container.py-5
    .px-md-5    
      .px-md-5
        .px-md-5
          .px-lg-5
            h1 Is your company available to do a company tour?
          +contactform