.site-footer .footer-connect {
  padding: 1.5rem 0px;
}
.site-footer .site-info {
  padding: 2rem 0px;
}
.site-footer .footer-connect form {
  display: flex;
}
.site-footer .footer-connect .btn {
  margin-left: 1rem;
}
.footers a {color:#696969;}
.footers p {color:#696969;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }

.pb-200 {
  padding-bottom: 200px;
}
.mb-200 {
  margin-bottom: 200px;
}

footer.site-footer {
  #footer-items-container{
    padding-top:100px;
  }
  #newsletter{
    margin-bottom: -100px;
    transform: translateY(-200px);
    +#footer-items-container{
      padding-top:0!important;
    }     
    input#newsletter_email {
      &:hover,
      &:active,
      &:focus {
        background-color: rgba(0,0,0,0.4);
      }
    }
    button[type="submit"] {
      @include btn-color($primary, white, white);
    }
  }
  .col-xs-12{
    margin-top: 1.5rem;
  }

  @include media-breakpoint-up(sm){
    .col-xs-12{
      margin-top: 0;
    }
  }
}