$primary: #1f3fc7;
$primary-light: #4266fb;
$light-grey: #DCE0F2;

$secondary: #f2793c;

$blue: #1d3b8b;
$bluedark: #040a3b;
$bluepale: #3d4269;
$bluetrans: #1d3a8b25;
$light-blue: lighten($blue, 60);

$green: #7aff29;
$red: #ff4200;
$yellow: #ffdb00;
$purple: #5c00ff;
$pink: #a800ff;
$turquoise: #3dbaf7;
$textOrange: #da9446;
$transition: .15s;
$theme-colors: (
  "secondary": $secondary
);
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/quill/dist/quill.snow.css";


.bg-light-grey {
  background-color: $light-grey !important;
}
.bg-light-blue {
  background-color: $light-blue;
}

.btn-secondary {
  color: $light-grey;
}
@mixin btn-color($color-pri, $color-sec, $color-border) {
  background-color: $color-pri;
  color: $color-sec !important;
  border: 1px solid;
  border-color: $color-border;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: darken($color-pri, 10%) !important;
    color: $color-sec !important;
    border-color: darken($color-border, 10%) !important;
  }
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.z-minus {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.border-radius-0 {
  border-radius: 0;
}
