@import "../../node_modules/bootstrap/scss/bootstrap.scss";
/* @import url("https://fonts.googleapis.com/css?family=Didact+Gothic");

@font-face {
  font-family: "Didact Gothic";
  src: url("fonts/Didact_Gothic/DidactGothic-Regular.ttf");
  src: url("fonts/Didact_Gothic/DidactGothic-Regular.ttf") format("ttf");
} */

.startYour,
.digitalCarrer {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  .startYour,
  .digitalCarrer {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(md) {
  .startYour,
  .digitalCarrer {
    font-size: 4.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .startYour,
  .digitalCarrer {
    font-size: 6rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Didact Gothic", sans-serif !important; */
  overflow-x: hidden;
}

.navbar.landingpage {
  position: absolute;
  width: 100%;
  z-index: +1;
}

body:not(.admin).btn {
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  border-width: 3px;
  line-height: 1.5;
  background-color: #007aff;
  border-color: #007aff;
  color: white;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}

section {
  display: block;
}

.section-button-wrap {
  text-align: center;
  margin-top: 40px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  display: table;
  clear: both;
  content: "";
}
