.homeSection {
  background: $primary-light;
}
.bluepolygon {
  background: $primary;
  clip-path: polygon(100% 80%, 50% 70%, 100% 0%);
  position: absolute;
  height: 100%;
  width: 100%;
}
.bluepolygon2 {
  background: $primary;
  border-radius: 2em;
  position: absolute;
  height: 100vw;
  width: 100vw;
  top: 0;
  left: 0%;
  margin-inline-start: -50%;
  transform: rotate(-45deg);
  transform-origin: top left;
}
.z-index-minus-1 {
  z-index: -1;
}
#svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
@include media-breakpoint-up(md) {
  #headernav {
    > li:not(.admin) {
      a {
        &:after {
          content: "";
          transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
          transform: skew(-45deg) scale(1, 0);
          background: $blue;
          height: 100%;
          width: 100%;
          top: 0;
          opacity: 0;
          left: 0;
          display: block;
          position: absolute;
          z-index: -1;
        }
      }
      &:hover > a,
      > a.active,
      > a:hover {
        // &:before,
        color: white;
        &:after {
          opacity: 1;
          transform: skew(-45deg);
        }
        // &:before {
        // }
        &:after {
        }
      }
    }
  }
}
