.offset_title {
  padding-top: 10em;

  header.offset_header {
    //padding: 5em 0;
    z-index: 0;
    position: relative;
    transform: translateY(-10%);
  }
}

.bluepolygon {
  background: $primary;
  border-radius: 8vh;
  position: absolute;
  height: 250vw;
  width: 250vw;
  top: 50%;
  transform-origin: top left;
  left: -50%;
}

.bluepolygon2 {
  position: fixed;
  top: 50vh;
  left: 10vw;

  .text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
  }

  .triangle {
    position: absolute;
    background-color: $primary;
    text-align: left;
  }

  .triangle:before,
  .triangle:after {
    content: "";
    position: absolute;
    background-color: inherit;
  }

  .triangle,
  .triangle:before,
  .triangle:after {
    width: 100vw;
    height: 100vw;
    border-top-right-radius: 30%;
  }

  .triangle {
    transform: translateY(-50%) rotate(-150deg) skewX(-30deg) scale(1, 0.866);
  }

  .triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
      translate(0, -50%);
  }

  .triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
  }
}

.bluepolygon.left {
}

.bluepolygon.right {
  right: -50%;
  top: -50%;
  transform-origin: top right;
  left: auto;
}

#svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

#nav-primary {
  font-family: "Gordita", sans-serif;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: $bluedark;
}
.nav-link {
  padding: 5px !important;
}

#headernav > li {
  > .contactlink {
    content: "";
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    background: inherit;
    top: 0;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 1;
    color: white;
    height: 2em;
    transform: skew(-15deg) scale(1, 1);
    left: -10px;
    width: calc(100% + 20px);
    @include media-breakpoint-up(lg) {
      height: 100%;
      transform: skew(-45deg) scale(1, 1);
      left: -1px;
      width: calc(100% + 2px);
    }
  }
}
#headernav > li {
  z-index: 0;
  a {
    font-weight: 500;
    font-family: "Gordita-Medium", sans-serif;
  }
  &:hover > a,
  > a.active,
  > a:active,
  > a:focus,
  > a:focus-within,
  > a:hover {
    &:not(.contactlink) {
      color: $primary !important;
    }
  }
}
@include media-breakpoint-up(lg) {
  #headernav.not-set-active > li {
    &:hover > a,
    > a.active,
    > a:active,
    > a:focus,
    > a:focus-within,
    > a:hover {
      &:not(.contactlink) {
        color: #040a3b !important;
      }
    }
  }
}
#headernav > li {
  &.active,
  &:active,
  &:focus,
  &:focus-within,
  &:hover {
    a.contactlinktext {
      color: white !important;
    }
  }
}
.dropdown {
  .dropdown-menu {
    background-color: transparent;
    @include media-breakpoint-up(lg) {
      background-color: white;
    }
    .dropdown-item {
      background-color: transparent !important;
      color: $bluedark !important;
      &:hover {
        color: $primary !important;
      }
    }
    @include media-breakpoint-down(md) {
      margin: 1em 0 1em 1em !important;
      box-shadow: none !important;
    }
  }
}
.dropdown,
.dropdown-toggle {
  .dropdown-menu.show,
  &:hover ~ .dropdown-menu,
  &:hover .dropdown-menu {
    right: 0;
    left: auto;
    display: block;
    border: 0;
    top: calc(100% - 1px);
    //top: 100%;
    margin: 0 30px 0 0;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -10px;
      left: 0;
    }

    .dropdown-item:hover,
    .dropdown-item:focus-within,
    .dropdown-item:active,
    .dropdown-item:focus,
    .dropdown-item.active {
      background: $primary !important;
      color: white !important;
    }
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    margin: 0;
  }
}
body:not(.index) #nav-primary {
  margin-top: 0 !important;
}
.navbar-toggler {
  border: 0 none;
}

.text-white-responsive {
  color: $primary !important;

  @include media-breakpoint-up(lg) {
    color: $white !important;
  }
}

/* @include media-breakpoint-up(md) {
  .not-set-active > li { a,
  > a.active,
  > a:active,
  > a:focus,
  > a:focus-within,
  > a:hover &:not(.contactlink) {
    color: #040a3b !important;
  }
} */
