/*
p{
  color: #939393;
} */
.story-item {
  background-color: #fff;
  -webkit-filter: drop-shadow(10px 10px 5px #bfbebe);
  filter: drop-shadow(10px 10px 5px #bfbebe);
}

.story-cards-ul {
  padding: 0;
}

/* .img-alumn{
  width: 5vw;
  height: 5vw;
  /* border-radius: 50%;
} */
