@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
@import "global";
@import "header";
@import "contact";
@import "footer";
@import "storylist";

/*HOME*/
.homeSection {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - 5rem);
  background-image: url("/media/header.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 92%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 92%, 0 0);
}

.mainHome {
  position: relative;
  background: transparentize($blue, .5);
  min-height: calc(100vh - 5rem);
}

.startYour,
.digitalCareer {
  font-weight: bold;
  color: #fff;
}

.subtitle {
  font-weight: lighter;
  color: #dce0f2;
}

/******************************************
VIDEO SECTION
 *******************************************/
video {
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  background-size: cover;
}

/******************************************
JUMBOTRON SECTION
 *******************************************/
.jumbotron-courses {
  text-align: center;
  position: absolute;
  min-width: 20%;
  top: 25%;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}
/******************************************
//////////////////////////////////////////
 ONE YEAR COURSE STYLING
//////////////////////////////////////////
*******************************************/
.body-scroll {
  position: relative;
}

/******************************************
  SUB-CONTAINER WITH SCROLLSPY AND SECTIONS
*******************************************/
.container-fluid-courses {
  width: 66%;
}
.col-sm-9 {
  padding-left: 45px;
}

/******************************************
  SCROLLSPY
*******************************************/

ul.nav-courses-pills {
  max-width: 50rem;
  word-wrap: break-word;
  top: 20%;
  padding: 10px;
  position: sticky;
  list-style: none;
  color: $blue;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

a.nav-link {
  font-size: 1rem;
  padding: 5px;
}

#myScrollspy {
  margin-top: 4.7%;
}

.jumbotron-header {
  color: white;
  margin-bottom: 100px;
}
.paragraph-jumbotron {
  margin-bottom: 100px;
}
a:active,
a:focus,
a:hover {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #222;
  text-decoration: underline;
}

/******************************************
OUR COURSES SECTION
 *******************************************/
.section-services {
  padding: 5rem 0;
}

.section-title-area {
  margin-bottom: 4rem;
  text-align: center;
}

.section-services .service-item .service-image {
  margin-bottom: 1rem;
  height: 100px;
}
.section-services .service-item .service-content {
  overflow: hidden;
}

.section-services .service-item {
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  transition: all 100ms ease-out 0s;
}
.section-services .service-item .service-title {
  margin-bottom: 1rem;
  color: #333;
  min-height: 56px;
}


.section-services .service-item  p{
  min-height: 63px;
}

.section-services .service-item .service-link:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}
.section-services .service-item .service-content p {
  margin: 0px;
  font-size: 14px;
  color: #222;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.service-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}


/******************************************
OUR COURSES TESTIMONIALS
 *******************************************/
.section-padding {
  padding: 5rem 0;
}

.section-title {
  font-size: 3rem;
}
.section-subtitle {
  color: #aaa;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: initial;
}

.testimonials-button-wrap {
  margin: 2rem 0;
}
.video-placeholder a:hover {
  transform: scale(1.2);
}
.video-placeholder a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 3rem;
}
.video-placeholder {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background: url("https://www.digitalcareerinstitute.org/wp-content/uploads/2017/04/13585027_272721593085119_8828473191326822457_o.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  position: relative;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}


#linkButton {
  font-size: 1rem;
}
/******************************************
STATS COUNTER
 *******************************************/

.counter-item {
  text-align: center;
}

.section-counter {
  padding: 3rem 0;
}
.counter-item .counter-number {
  font-size: 5rem;
  font-weight: 400;
  color: $blue;
  line-height: 1;
}
.counter-item .counter-title {
  font-size: 1.2rem;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}
.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

/******************************************
QUOTE
 *******************************************/

.section-mission {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 6rem 3rem;
}

.mission-title {
  color: $blue;
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.3;
}

.mission-title::before,
.mission-title::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(https://png.pngtree.com/svg/20170529/ic_zixun_quote_1245666.png);
  background-size: cover;
  display: block;
  opacity: 0.25;
  margin: 0 auto 1rem;
}

.mission-title::after {
  transform: rotateY(180deg);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/******************************************
UPCOMING EVENTS
 *******************************************/
.event-item {
  margin-bottom: 2rem;
  background: rgba(0, 122, 255, 0.1);
  padding: 1.5rem;
  border-radius: 3px;
  display: flex;
}

.event-item-body {
  flex: 1;
}

.event-item h3 {
  margin-bottom: 0.5rem;
}
.event-item p {
  margin: 0;
}
.event-item-date {
  margin-right: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}
.event-item-date .event-month {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.event-item-date .event-day {
  display: block;
  font-size: 1.75rem;
  line-height: 1;
}

.event-item .icon {
  width: 15px;
  color: #777;
  text-align: center;
  margin-right: 0.5rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

/*'''''''''''''''''''''''New card'''''''''''''''''*/

*:before,
  *:after {
    box-sizing: inherit;
  }

  .newEvent {
    margin: 50px auto 0;
    /*width: 700px;*/
    background-color: #fefefe;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
  }

  .u-float-right {
    float: right;
  }

  .u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .newEvent-media {
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    height: 125px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
    width: 100%;
  }

  .newEvent-media:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.2);
  }

  .newEvent-media-object-cont {
    background: none;
    float: left;
    height: 100%;
    width: 35%;
    position: relative;
  }
  .newEvent-media-object {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }

  .newEvent-media-object:after {
    content: " ";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 300ms ease-out;
    z-index: 10;
  }

  .newEvent-media:hover .newEvent-media-object:after {
    background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.4) 100%
    );
    background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.4) 100%
    );
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 52%,
    rgba(0, 0, 0, 0.4) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    opacity: 1;
  }

  .newEvent-media-body {
    background-color: #fff;
    float: left;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    width: 65%;
  }

  .newEvent-media-body-top {
    display: block;
  }

  .newEvent-media-body-heading {
    display: block;
    height: auto;
    margin-top: 10px;
  }

  .newEvent-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    transition: all 300ms ease-out;
    width: 100%;
  }

  .newEvent-media:hover .newEvent-media-body-supporting-bottom {
    opacity: 0;
    transform: translateY(-8px);
  }

  .newEvent-media-body-supporting-bottom-text {
    display: inline-block;
  }

  .newEvent-media-body-supporting-bottom-reveal {
    opacity: 0;
    transform: translateY(8px);
    transition: all 300ms ease-out;
  }

  .newEvent-media:hover .newEvent-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
  }

  .newEvent-media-link {
    color: #41c1f2;
    text-decoration: none;
  }

  //*SEE ALL OUR EVENTS*//
  .warningColorDark{
    color: #FF8800;
  }
  .warningColorDark:hover{
    color: #e65100;
  }

  /*responsive typography*/

  @media (max-width: 575px) {
    .img-xs-customise{
      margin-top: 0;
    }
    .responsiveD-3 {
      font-size: 1.5rem;
    }
    .responsiveH2 {
      font-size: 0.88rem;

    }
    .pre-xs-customise,.responsiveH2{
      margin-bottom: 0;
      overflow: unset;
    }
    .responsiveP{
      font-size: 0.8rem;
      white-space: initial;
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    .responsiveD-3 {
      font-size: 1.5rem;
    }
    .responsiveH2 {
      font-size: 1rem;
    }
    .pre-xs-customise,.responsiveH2{
      margin-bottom: 0;
      overflow: unset;
    }
    .responsiveP{
      font-size: 0.8rem;
      white-space: initial;
    }
  }

  @include media-breakpoint-up(md) {
    .responsiveD-3 {
      font-size: 3.5rem;
    }
    .responsiveH2 {
      font-size: 2rem;
    }
    .responsiveP {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .responsiveD-3 {
      font-size: 4.5rem;
    }
    .responsiveH2 {
      font-size: 2rem;
    }
    .responsiveP {
      font-size: 1rem;
    }
  }


  /******************************************
  OUR PARTNERS SECTION
   *******************************************/
.section-partners {
  padding: 4rem 0;
}

.partners-wrap {
  text-align: center;
}
.partners-logo {
  display: inline-block;
  margin: 0 1rem;
  width: 150px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

/******************************************
CONTACT FORM SECTION
 *******************************************/
.modal-content {
  border: none;
  padding: 3rem 0;
}
.cf-title {
  text-align: center;
  margin-bottom: 3rem;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

div.contactForm {
  margin: 0;
  padding: 0;
}

div.contactForm .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

form.contactForm-form {
  letter-spacing: initial;
  font-weight: initial;
  text-transform: initial;
  font-size: initial;
}
div.contactForm {
  margin: 0;
  padding: 0;
}
form {
  display: block;
  margin-top: 0em;
}
form.contactForm-form input {
  margin-bottom: 1.5rem;
}
.fluid-item {
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.fluid-item > *:not(:last-child) {
  margin-right: 1rem;
}

.m-b-10 {
  margin-bottom: 10px;
}
textarea {
  min-height: 100px;
  resize: vertical;
}
div.contactForm-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #f00;
}
.contactForm-display-none {
  display: none;
}
.btn.btn-wide {
  width: 100%;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: white;
  color: #222;
  border: 2px solid #d9d9d9;
  box-shadow: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  outline: none;
  box-sizing: border-box;
  height: 42px;
}
.dataPrivacyLink {
  text-decoration: underline;
}

/******************************************/

.checkbox {
  width: auto;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  left: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 6px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

////////////////////////*COURSES*////////////////////////

.btn-apply {
  background: #d3ba30;
  color: #fff;
}

.icons {
  width: 48px;
  height: 48px;
}

/*timeline*/

.timelineRow:last-child .timelineDiv {
  padding-bottom: 0;
}

.timelineDiv {
  display: flex;
  padding-bottom: 6rem;
  position: relative;
}

.timelineDiv:not(:last-child):before {
  content: "";
  height: 100%;
  width: 4px;
  background: #d3ba30;
  position: absolute;
  left: 33px;
  top: 0;
}

.timeline {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #d3ba30;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
  display: block;
  position: relative;
  margin-right: 1.5rem;
}

/*steps to apply*/

.apply-step-number {
  margin: 0;
  padding: 0;
}

.applyDiv:not(:last-child):before {
  content: "";
  background: $blue;
  height: 3px;
  width: 130%;
  position: absolute;
  top: 30px;
}

.apply-step-number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $blue;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  margin-bottom: 1rem;
  display: block;
  position: relative;
}

/*CONTACT-FORM*/
#contactForm-box {
  width: 40vw;
}

@media (min-width: 992px ) and ( max-width: 1160px){
  #contactForm-box{
    width: 47vw;
  }
}



@media (min-width: 771px ) and ( max-width: 992px){
  #contactForm-box{
    width: 60vw;
  }
}

@media (min-width: 581px ) and ( max-width: 770px){
  #contactForm-box{
    width: 80vw;
  }
}

@media (min-width:200px ) and ( max-width: 580px){
  #contactForm-box{
    width: 100vw;
  }
  #contactForm-box a, #contactForm-box label{
    font-size: 12px
  }
  #contactForm-box label{
    padding-top: 4px;
    padding-left: 24px;
  }
}




@media (min-width: 992px ) and ( max-width: 1160px){
  #contactForm-box{
    width: 47vw;
  }
}

@media (min-width: 771px ) and ( max-width: 992px){
  #contactForm-box{
    width: 60vw;
  }
}

@media (min-width: 581px ) and ( max-width: 770px){
  #contactForm-box{
    width: 80vw;
  }
}

@media (min-width:200px ) and ( max-width: 580px){
  #contactForm-box{
    width: 100vw;
  }
  #contactForm-box a, #contactForm-box label{
    font-size: 12px
  }
  #contactForm-box label{
    padding-top: 4px;
    padding-left: 24px;
  }
}


#contactForm-bg {
}

#contactForm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#heading {
  font-weight: light;
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 30s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

#btn-contactForm {
  width: 100%;
  color: #fff;
  boder-color: #fff;
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

/*GET INVOLVED*/

/*responsive*/

.headingSection {
  font-size: 3rem;
  color: $blue;
}

@include media-breakpoint-up(sm) {
  .headingSection {
    font-size: 3rem;
  }
}

@include media-breakpoint-up(md) {
  .headingSection {
    font-size: 6rem;
  }
}

@include media-breakpoint-up(lg) {
  .headingSection {
    font-size: 4rem;
  }
}

.animationLink {
  font-size: 1.5rem;
}

@include media-breakpoint-up(sm) {
  .animationLink {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .animationLink {
    font-size: 2.75rem;
  }
}

@include media-breakpoint-up(lg) {
  .animationLink {
    font-size: 1.75rem;
  }
}

.verticalLineGetInv {
  --borderWidth: 3px;
  background: #fff;
  position: relative;
}
.verticalLineGetInv:after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--borderWidth));
  bottom: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth));
  width: calc(100% + var(--borderWidth));
  background: linear-gradient(
  60deg,
  #f79533,
  #f37055,
  #ef4e7b,
  #a166ab,
  #5073b8,
  #1098ad,
  #07b39b,
  #6fba82
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animationLink {
  position: relative;
  text-decoration: none !important;
  color: #4285f4;
}

.animationLink:hover {
  color: #0d47a1;
}

.animationLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0d47a1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.animationLink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
