@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "global";
@import "header";
@import "footer";
@import "typography";

body:not(.admin).btn {
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  border-width: 3px;
  line-height: 1.5;
  background-color: $blue;
  border-color: $blue;
  color: white;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}
.btn, .nav-pills .nav-link {
  border-radius: 0 !important;
}
.nav-pills .nav-link:hover, 
.nav-pills .show > .nav-link:hover {
  background-color: $blue !important;
  color: white;
  transition: color $transition ease, background-color $transition ease;
}

.btn-gradient-secondary {
  color: white;
  border: none;
  background: linear-gradient(to left, $turquoise, $blue) !important;
  background-repeat: repeat;
  background-size: 200% 100% !important;
  transition: all 0.2s;
  background-position: 5% 0 !important;
  &:hover {
    color: white;
    background-position: 95% 0 !important;
  }
}
code {
  color: $textOrange;
}
nav.container:after {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.half-transparent {
  opacity: 0.5;
}
/*******************HOME****************************/
.homeSection {
  position: relative;
  min-width: 100vw;
  min-height: calc(100vh - 5rem);
  background-image: url("/media/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 92%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 88%, 50% 100%, 0 92%, 0 0);
}

.mainHome {
  position: relative;
  background: transparentize($blue, 0.5);
  min-height: calc(100vh - 5rem);
}

.startYour,
.digitalCareer {
  font-weight: bold;
  color: #fff;
}

.subtitle {
  font-weight: lighter;
  color: #dce0f2;
}

/******************************************
JUMBOTRON SECTION
 *******************************************/
.jumbotron-courses {
  text-align: center;
  position: absolute;
  min-width: 20%;
  top: 25%;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}
/******************************************
//////////////////////////////////////////
 ONE YEAR COURSE STYLING
//////////////////////////////////////////
*******************************************/

/******************************************
  SCROLLSPY
*******************************************/

ul.nav-courses-pills {
  max-width: 50rem;
  word-wrap: break-word;
  top: 15px;
  padding: 10px;
  position: sticky;
  list-style: none;
  color: $blue;
}

a.nav-link {
  font-size: 1rem;
  padding: 5px;
}

.jumbotron-header {
  color: white;
  margin-bottom: 100px;
}
.paragraph-jumbotron {
  margin-bottom: 100px;
}
a:active,
a:focus,
a:hover {
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #222;
  text-decoration: underline;
}


.testimonials-button-wrap {
  margin: 2rem 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

#linkButton {
  font-size: 1rem;
}
/******************************************
STATS COUNTER
 *******************************************/

.counter-item {
  text-align: center;
}
.counter-count {
  color: $textOrange;
}

.section-counter {
  padding: 3rem 0;
}
.counter-item .counter-number {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}
.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

/******************************************
QUOTE
 *******************************************/

.section-mission {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 6rem 3rem;
}

.mission-title {
  color: #da9446 !important;
  text-align: center;
}

.mission-title::before,
.mission-title::after {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url(https://png.pngtree.com/svg/20170529/ic_zixun_quote_1245666.png);
  background-size: cover;
  display: block;
  opacity: 0.25;
  margin: 0 auto 1rem;
}

.mission-title::after {
  transform: rotateY(180deg);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/******************************************
UPCOMING EVENTS
 *******************************************/
.event-item {
  margin-bottom: 2rem;
  background: rgba(0, 122, 255, 0.1);
  padding: 1.5rem;
  display: flex;
}

.event-item-body {
  flex: 1;
}

.event-item h3 {
  margin-bottom: 0.5rem;
}
.event-item p {
  margin: 0;
}
.event-item-date {
  margin-right: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}
.event-item-date .event-month {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.event-item-date .event-day {
  display: block;
  font-size: 1.75rem;
  line-height: 1;
}

.event-item .icon {
  width: 15px;
  color: #777;
  text-align: center;
  margin-right: 0.5rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

/*'''''''''''''''''''''''EVENT CARD'''''''''''''''''*/

*:before,
*:after {
  box-sizing: inherit;
}

.newEvent {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.newEvent-media {
  border-radius: 0;
  height: 125px;
  transition: all 300ms ease-out;
  width: 100%;
}

.newEvent-media-object-cont {
  background: none;
  float: left;
  height: 100%;
  position: relative;
}

.newEvent-media-object {
  width: 200px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.newEvent-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.newEvent-media-body {
  float: left;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

.newEvent-media-body-top {
  display: block;
}

.newEvent-media-body-heading {
  display: block;
  height: auto;
  margin-top: 10px;
}

.newEvent-media-body-supporting-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.newEvent-media:hover .newEvent-media-body-supporting-bottom {
  opacity: 0;
  padding: 12px 15px;
  transform: translateY(-8px);
}

.newEvent-media-body-supporting-bottom-text {
  display: inline-block;
}

.newEvent-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.newEvent-media:hover .newEvent-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.newEvent-media-link {
  color: #da9446 !important;
  font-weight: bold;
}

/******************************************
  LAST UPDATED EVENT
*******************************************/
.card,
.card-img-top {
  border-radius: 0 !important;
}
.card-img-top {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  padding: 24px 0;
}

.card-date {
  text-transform: uppercase;
}
.card-date-month {
  color: #da9446;
  font-size: 13px;
}

.card-text {
  color: #6f7287;
}

.event-name {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.event-date,
.event-location {
  font-size: 13px;
}
.card-date-day {
  color: #6f7287;
}

/******************************************
  STORIES
*******************************************/
.hover-shadow {
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 5px #0000002e;
  }
}
#containerStorieSingle {
  // max-width: 69%;
  box-shadow: 10px 10px 10px #bfbebe;
}
.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.partners-logo {
  display: inline-block;
  margin: 0 1rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}


/******************************************
    CONTACT FORM SECTION
*******************************************/
.modal-content {
  border: none;
}
.modal-backdrop.show {
  background: linear-gradient(
    to left,
    darken(#3dbaf7, 10),
    darken(#1d3b8b, 10)
  ) !important;
}
.cf-title {
  text-align: center;
  margin-bottom: 3rem;
}

div.contactForm {
  margin: 0;
  padding: 0;
}

div.contactForm .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

form.contactForm-form {
  letter-spacing: initial;
  font-weight: initial;
  text-transform: initial;
  font-size: initial;
}
div.contactForm {
  margin: 0;
  padding: 0;
}
form {
  display: block;
  margin-top: 0em;
}
form.contactForm-form input {
  margin-bottom: 1.5rem;
}
.fluid-item {
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.fluid-item > *:not(:last-child) {
  margin-right: 1rem;
}

.m-b-10 {
  margin-bottom: 10px;
}
textarea {
  min-height: 100px;
  resize: vertical;
}
div.contactForm-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #f00;
}
.contactForm-display-none {
  display: none;
}
.btn.btn-wide {
  width: 100%;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  background-color: white;
  color: #222;
  border: 2px solid #d9d9d9;
  box-shadow: none;
  padding: 12px;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  max-width: 100%;
  outline: none;
  box-sizing: border-box;
  height: 42px;
  border-radius: 0 !important;
  border: none !important;
}
.dataPrivacyLink {
  text-decoration: underline;
}

/******************************************/

.checkbox {
  width: auto;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  left: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 6px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

////////////////////////*COURSES TEMPLATE USE THIS*////////////////////////

.icons {
  width: 48px;
  height: 48px;
}

/*timeline*/
.timelineRow {
  padding: 0;
}
.timelineRow:last-child .timelineDiv {
  padding-bottom: 0;
}

.timelineDiv {
  display: flex;
  padding-bottom: 6rem;
  position: relative;
}

.timelineDiv:not(:last-child):before {
  content: "";
  height: 100%;
  width: 4px;
  background: #1d3b8b;
  position: absolute;
  left: 33px;
  top: 0;
}

.timeline {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #1d3b8b;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
  display: block;
  position: relative;
  margin-right: 1.5rem;
}

/*************steps to apply***************/

.courseApply {
  display: flex;
  margin-top: 2rem;
}
.courseApply-step {
  flex: 1;
  padding-right: 1rem;
  position: relative;
}

.courseApply-step:not(:last-child):before {
  content: "";
  background: $blue;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.courseApply-stepCount {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $blue;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  margin-bottom: 1rem;
  display: block;
  position: relative;
}

/********************************************************
  MEDIA QUERY BREAKPOINT | SINGLE PAGE COURSES !WORK HERE
********************************************************/
/* ----------- iPad Pro Start----------- */
/* Portrait and Landscape */


@media (max-width: 1199.98px) {
  .courses-scroll {
    display: none;
  }
  .sticky-top {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container-fluid-courses {
    width: 100%;
  }

  .blue-headline {
    font-size: 2.5rem;
  }
  .jumbotron-singleCourse {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 767.98px) and (max-width: 1560px) {
  .card-img-top {
    height: 10vw;
  }
  #courses-scroll {
    position: absolute;
    margin-top: 2.8%;
    width: 200px;
  }
  .homeSection {
    min-width: 50vw;
    height: 30vh;
  }
  .startYour,
  .digitalCareer {
    font-size: 4.5rem;
  }
  .subtitle-jumbotron {
    font-size: 3rem;
  }
}

@media (max-width: 767.98px) {
  .startYour,
  .digitalCareer {
    font-size: 2.5rem;
  }
  .subtitle-jumbotron {
    font-size: 1.5rem;
  }
  .homeSection {
    min-width: 50vw;
    height: 30vh;
  }
  .sticky-top {
    padding-left: 5%;
    padding-right: 5%;
  }
  .card-img-top {
    height: 25vw;
  }

  .courseApply-step:not(:last-child):before {
    visibility: hidden;
    clear: both;
  }
  .courseApply {
    display: block;
  }
  .courseApply-stepCount {
    margin-left: auto;
    margin-right: auto;
  }

  .container-fluid-courses,
  .row-courses,
  .col-courses {
    justify-content: center;
    text-align: center;
  }
}

#heading {
  font-weight: light;
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 30s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

#btn-contactForm {
  width: 100%;
}

.verticalLineGetInv {
  --borderWidth: 3px;
  background: #fff;
  position: relative;
}
.verticalLineGetInv:after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--borderWidth));
  bottom: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth));
  width: calc(100% + var(--borderWidth));
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.object-fit-cover {
  object-fit: cover;
}

.mw-150 {
  max-width: 150px;
}
.mh-150 {
  max-height: 150px;
}
.list-group-item {
  border: none;
  border-radius: 0;
}

$class-slug: square !default;
div[class*=" #{$class-slug}"]{
  object-fit: cover;
}
@for $i from 1 through 5{
  .#{$class-slug}-#{$i}{
    max-width: 100px * $i;
    max-height: 100px * $i;
  }
  @media (min-width: 767px) {
    .#{$class-slug}-md-#{$i}{
      max-width: 100px * $i !important;
      max-height: 100px * $i !important;
    }
  }
}