@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

#dci-logo{
  width: 50px;
  height: 50px;
  -webkit-filter: drop-shadow(3px 3px 1px #bfbebe);
  filter: drop-shadow(3px 3px 1px #bfbebe);
}
/*NAVIGATION-BAR*/
.nav-link {
/* font-family: 'Didact Gothic', sans-serif; */
color: #1d3b8b !important;
font-size: 25px;
}

.dropdown-toggle::after{
  border: 0;
}


/*NAVIGATION-BRACKETS*/
#headernav .active{
  content:'';
  position: relative;
}

/* #headernav a:active:before, 
#headernav a:focus:before */
#headernav .active:before{
  content: '';
  position: absolute;
  background-image: url('/media/bracket.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  left: -7px;
  top: -5px;
  height: 58px;
  width: 50px;
  -webkit-filter: drop-shadow(4px 3px 1px #bfbebe);
  filter: drop-shadow(4px 3px 1px #bfbebe);
}

#headernav .active:after{
  content: '';
  position: absolute;
  background-image: url('/media/bracket.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: 20px;
  display: inline-block;
  right: -5px;
  top: -5px;
  height: 58px;
  width: 50px;
  -webkit-filter: drop-shadow(-4px -3px 1px #bfbebe);
  filter: drop-shadow(-4px -3px 1px #bfbebe);
}
