@font-face {
  font-family: "Gordita-Regular";
  src: url("~/fonts/Gordita-Regular.eot");
  src: url("~/fonts/Gordita-Regular.eot?#iefix") format("embedded-opentype"),
    url("~/fonts/Gordita-Regular.woff2") format("woff2"),
    url("~/fonts/Gordita-Regular.woff") format("woff"),
    url("~/fonts/Gordita-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gordita-Light";
  src: url("~/fonts/Gordita-Light.eot");
  src: url("~/fonts/Gordita-Light.eot?#iefix") format("embedded-opentype"),
    url("~/fonts/Gordita-Light.woff2") format("woff2"),
    url("~/fonts/Gordita-Light.woff") format("woff"),
    url("~/fonts/Gordita-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Gordita-Bold";
  src: url("~/fonts/Gordita-Bold.eot");
  src: url("~/fonts/Gordita-Bold.eot?#iefix") format("embedded-opentype"),
    url("~/fonts/Gordita-Bold.woff2") format("woff2"),
    url("~/fonts/Gordita-Bold.woff") format("woff"),
    url("~/fonts/Gordita-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gordita-Medium";
  src: url("~/fonts/GorditaMedium.eot");
  src: url("~/fonts/GorditaMedium.svg") format("svg");
  src: url("~/fonts/GorditaMedium.eot?#iefix") format("embedded-opentype"),
    url("~/fonts/GorditaMedium.woff2") format("woff2"),
    url("~/fonts/GorditaMedium.woff") format("woff"),
    url("~/fonts/GorditaMedium.ttf") format("truetype");
}

@import "global";
@import "../../node_modules/bootstrap-colorpicker/src/sass/colorpicker";
@import "footer";
@import "typography";

#nav-primary {
  font-family: "Gordita", sans-serif;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
  color: $bluedark;
}
.nav-link {
  padding: 5px !important;
}

#headernav > li {
  > .contactlink {
    content: "";
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
    background: inherit;
    top: 0;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 1;
    color: white;
    height: 2em;
    transform: skew(-15deg) scale(1, 1);
    left: -10px;
    width: calc(100% + 20px);
    @include media-breakpoint-up(lg) {
      height: 100%;
      transform: skew(-45deg) scale(1, 1);
      left: -1px;
      width: calc(100% + 2px);
    }
  }
}
#headernav > li {
  z-index: 0;
  a {
    font-weight: 500;
    font-family: "Gordita-Medium", sans-serif;
  }
  &:hover > a,
  > a.active,
  > a:active,
  > a:focus,
  > a:focus-within,
  > a:hover {
    &:not(.contactlink) {
      color: $primary;
    }
  }
}
@include media-breakpoint-up(lg) {
  #headernav.not-set-active > li {
    &:hover > a,
    > a.active,
    > a:active,
    > a:focus,
    > a:focus-within,
    > a:hover {
      &:not(.contactlink) {
        color: #040a3b;
      }
    }
  }
}
#headernav > li {
  &.active,
  &:active,
  &:focus,
  &:focus-within,
  &:hover {
    a.contactlinktext {
      color: var(--dark);
    }
  }
}
.dropdown-custom {
  @extend .dropdown;
}
.dropdown-custom {
  .dropdown-menu {
    background-color: transparent;
    border: 0;
    @include media-breakpoint-up(lg) {
      background-color: white;
    }
    .dropdown-item {
      background-color: transparent ;
      color: $bluedark ;
      &:hover {
        color: $primary ;
      }
    }
    @include media-breakpoint-down(md) {
      margin: 1em 0 1em 1em !important;
      box-shadow: none !important;
    }
  }
}
.dropdown-custom,
.dropdown-toggle {
  .dropdown-menu.show,
  &:hover ~ .dropdown-menu,
  &:hover .dropdown-menu {
    right: 0;
    left: auto;
    border: 0;
    top: calc(100% - 1px);
    //top: 100%;
    margin: 0 30px 0 0;
    @include media-breakpoint-up(md) {
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -10px;
      left: 0;
    }

    .dropdown-item:hover,
    .dropdown-item:focus-within,
    .dropdown-item:active,
    .dropdown-item:focus,
    .dropdown-item.active {
      background: $primary;
      color: white;
    }
  }
}

.dropdown-toggle {
  &:after {
    border: none;
    margin: 0;
  }
}
body:not(.index) #nav-primary {
  margin-top: 0 !important;
}
.navbar-toggler {
  border: 0 none;
}

.text-white-responsive {
  color: $primary !important;

  @include media-breakpoint-up(lg) {
    color: $white !important;
  }
}

/* @include media-breakpoint-up(md) {
  .not-set-active > li { a,
  > a.active,
  > a:active,
  > a:focus,
  > a:focus-within,
  > a:hover &:not(.contactlink) {
    color: #040a3b !important;
  }
} */

body {
  font-family: "Gordita-Regular", sans-serif;
  color: $bluedark !important;
  font-weight: 200;
  font-size: 18px;
}

body:not(.admin).btn {
  border-radius: 2px;
  border-width: 3px;
  line-height: 1.5;
  background-color: $blue;
  border-color: $blue;
  color: white;
  line-height: 36px;
  padding-top: 0;
  padding-bottom: 0;
}

.btn,
.nav-pills .nav-link {
  border-radius: 2px !important;
  font-family: "Gordita-Bold", sans-serif;
  position: relative;

  &.connection-line:after {
    content: "";
    display: block;
    width: 4px;
    height: 2.5em;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    position: absolute;
    right: 0;
    top: calc(100% + 0.5em);
    transition: all 300ms ease-out;
    z-index: 10;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5em 1.5em;
}
.btn-outline-white{
  @include button-variant(white, $blue, $blue);
}
  .nav-pills .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link:hover {
  background-color: $blue !important;
  color: white !important;
  transition: color $transition ease, background-color $transition ease;
}

.bg-secondary {
  background-color: $secondary !important;
}
.text-primary-light {
  color: $primary-light !important;
}
.bg-primary-light {
  background-color: $primary-light !important;
}
.bg-red-light {
  background-color: $red-light !important;
}

.mh-100 {
  min-height: 100vh;
}

code {
  color: $dark;
  font-size: 100%;
  font-family: "Gordita-Bold", sans-serif;

  &:before {
    content: "- ";
  }
}

nav.container:after {
  display: none !important;
}

.quarter-transparent {
  opacity: 0.25;
}
.three-quarter-transparent {
  opacity: 0.75;
}
.half-transparent {
  opacity: 0.5;
}
.third-transparent {
  opacity: 0.333;
}

/******************************************
//////////////////////////////////////////
 ONE YEAR COURSE STYLING
//////////////////////////////////////////
*******************************************/

/******************************************
  SCROLLSPY
*******************************************/

ul.nav-courses-pills {
  max-width: 50rem;
  word-wrap: break-word;
  top: 15px;
  padding: 10px;
  position: sticky;
  list-style: none;
  color: $blue;
}

a.nav-link {
  font-size: 1rem;
  padding: 5px;
}

.paragraph-jumbotron {
  margin-bottom: 100px;
}

a:active,
a:focus,
a:hover {
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #222;
  text-decoration: underline;
}

.intersection_observed {
  transition: transform 0.3s ease;
}

.counter-item .counter-number {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.row {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}

/******************************************
UPCOMING EVENTS
 *******************************************/
.event-item {
  margin-bottom: 2rem;
  background: rgba(0, 122, 255, 0.1);
  padding: 1.5rem;
  display: flex;
}

.event-item-body {
  flex: 1;
}

.event-item h3 {
  margin-bottom: 0.5rem;
}

.event-item p {
  margin: 0;
}

.event-item-date {
  margin-right: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}

.event-item-date .event-month {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.event-item-date .event-day {
  display: block;
  font-size: 1.75rem;
  line-height: 1;
}

.event-item .icon {
  width: 15px;
  color: #777;
  text-align: center;
  margin-right: 0.5rem;
}

*:before,
*:after {
  box-sizing: inherit;
}

.newEvent {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.newEvent-media {
  border-radius: 0;
  height: 125px;
  transition: all 300ms ease-out;
  width: 100%;
}

.newEvent-media-object-cont {
  background: none;
  float: left;
  height: 100%;
  position: relative;
}

.newEvent-media-object {
  width: 200px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.newEvent-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.newEvent-media-body {
  float: left;
  height: 100%;
  padding: 0 15px;
  position: relative;
}

.newEvent-media-body-top {
  display: block;
}

.newEvent-media-body-heading {
  display: block;
  height: auto;
  margin-top: 10px;
}

.newEvent-media-body-supporting-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.newEvent-media:hover .newEvent-media-body-supporting-bottom {
  opacity: 0;
  padding: 12px 15px;
  transform: translateY(-8px);
}

.newEvent-media-body-supporting-bottom-text {
  display: inline-block;
}

.newEvent-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.newEvent-media:hover .newEvent-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.newEvent-media-link {
  color: #da9446 !important;
  font-weight: bold;
}

/******************************************
  LAST UPDATED EVENT
*******************************************/
.card,
.card-img-top {
  border-radius: 0 !important;
}

.card-img-top {
  width: 100%;
  object-fit: contain;
}

.card-date {
  text-transform: uppercase;
}

.card-date-month {
  color: #da9446;
  font-size: 13px;
}

.card-text {
  color: #6f7287;
}
.card-header {
  background-color: transparent;
  border-bottom: none;
}
button[data-toggle="collapse"]{
  svg {
    transition: transform .3s ease;
    transform: rotate(90deg);
  }
  &[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
}
.accordion > .card {
    overflow: visible;
}
.event-name {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.event-date,
.event-location {
  font-size: 13px;
}

.card-date-day {
  color: #6f7287;
}

/******************************************
  STORIES
*******************************************/
.hover-shadow {
  transition: box-shadow 0.3s ease;
  box-shadow: 0 3px 2px #0000004e;

  &:hover {
    box-shadow: 0 4px 6px #0000007e;
  }
}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.portrait {
  width: 100%;
  height: 0;
  padding-top: 132%;
  background-size: cover;
  background-position: center;
}

.partners-logo {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0);
  }
}

.story-item,
body.tour,
body[class*="pages-"] {
  blockquote {
    @extend .blockquote;
    color: var(--gray);

    position: relative;
    padding: 1em 0 1em 1em;
  }
}
.quotesign {
  position: absolute;
  font-size: 4em;
  top: -0.45em;
  left: 0;
  z-index: 1;
  width: 0.7em;
  height: 1em;
}

.story-item {
  blockquote {
    @extend .blockquote;
    position: relative;
    padding-left: 15px;
  }
}

.bg-panel {
  > * {
    z-index: 1;
  }

  &.left:after {
    left: 0;
  }
  &.right:after {
    right: 0;
  }
  &.left {
    @include media-breakpoint-down(sm) {
      left: -50%;
     }
  }
  &.top {
    @include media-breakpoint-down(sm) {
      top: 50%;
     }
  }
  &:after {
    background-color: inherit;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;

    .order-12 & {
      right: auto;
      left: 0;
    }
  }
}

.blue-shadow {
  position: relative;

  &:after {
    background-color: $blue;
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100vw;
    height: 100%;
    z-index: 0;
    border-radius: 50%;
  }
}

/******************************************
    CONTACT FORM SECTION
*******************************************/
.modal-content {
  border: none;
}

.modal-backdrop.show {
  background: linear-gradient(
    to left,
    darken(#3dbaf7, 10),
    darken(#1d3b8b, 10)
  ) !important;
}

.cf-title {
  text-align: center;
  margin-bottom: 3rem;
}

#contactForm {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

div.contactForm {
  margin: 0;
  padding: 0;
}

div.contactForm .screen-reader-response {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  border: 0;
}

form.contactForm-form {
  letter-spacing: initial;
  font-weight: initial;
  text-transform: initial;
  font-size: initial;
}

div.contactForm {
  margin: 0;
  padding: 0;
}

form {
  display: block;
  margin-top: 0em;
}

form.contactForm-form input {
  margin-bottom: 1.5rem;
}

.fluid-item {
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.fluid-item > *:not(:last-child) {
  margin-right: 1rem;
}

.m-b-10 {
  margin-bottom: 10px;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

div.contactForm-response-output {
  margin: 2em 0.5em 1em;
  padding: 0.2em 1em;
  border: 2px solid #f00;
}

.contactForm-display-none {
  display: none;
}

.btn.btn-wide {
  width: 100%;
}

body:not(.admin) {
  textarea,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    background-color: transparent;
    color: #222;
    padding: 12px;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    max-width: 100%;
    outline: none;
    box-sizing: border-box;
    height: 42px;
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid lighten($dark, 10);

    &:focus,
    &:focus-within,
    &:hover,
    &:active {
      background-color: white;
    }
  }
  select {
    padding: 0 12px;
  }
}

::placeholder {
  color: $gray-800;
}

.dataPrivacyLink {
  text-decoration: underline;
}

/******************************************/

.checkbox {
  width: auto;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  left: 0;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-default {
  cursor: default;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 20%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:active ~ .checkmark,
.checkbox input:focus ~ .checkmark {
  box-shadow: 0px 0px 4px $blue;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 6px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

////////////////////////*COURSES TEMPLATE USE THIS*////////////////////////
.hidePlaceholder {
  width: 100px;
  display: inline-block;
}

.icons {
  width: 48px;
  height: 48px;

  .btn {
    transition: background-color $transition ease, color $transition ease;
  }
}

/*timeline*/
.timelineRow {
  padding: 0;
}

.timelineRow:last-child .timelineDiv {
  padding-bottom: 0;
}

.timelineDiv {
  display: flex;
  padding-bottom: 6rem;
  position: relative;
}

.timelineDiv:not(:last-child):before {
  content: "";
  height: 100%;
  width: 4px;
  background: #1d3b8b;
  position: absolute;
  left: 33px;
  top: 0;
}

.timeline {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #1d3b8b;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 70px;
  display: block;
  position: relative;
  margin-right: 1.5rem;
}

.successStoryIframe {
  width: 100%;
  border: none;
}

/*************steps to apply***************/

.courseApply {
  display: flex;
  margin-top: 2rem;
}

.courseApply-step {
  flex: 1;
  padding-right: 1rem;
  position: relative;
}

.courseApply-step:not(:last-child):before {
  content: "";
  background: $blue;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.courseApply-stepCount {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $blue;
  color: white;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  margin-bottom: 1rem;
  display: block;
  position: relative;
}

/******************************************
   SUPER ADMIN/ USERS SECTION
*******************************************/
.usersListContainer {
  border-bottom: 1px solid;

  .usersList {
    border-top: 1px solid;

    .userInfoHalfWidth {
      width: 50%;
    }

    .userInfoFullWidth {
      width: 100%;
    }
  }
}

/********************************************************
  MEDIA QUERY BREAKPOINT | SINGLE PAGE COURSES !WORK HERE
********************************************************/
/* ----------- iPad Pro Start----------- */
/* Portrait and Landscape */

@media (max-width: 1199.98px) {
  .courses-scroll {
    display: none;
  }

  .container-fluid-courses {
    width: 100%;
  }

  .blue-headline {
    font-size: 2.5rem;
  }
}

@media (min-width: 767.98px) and (max-width: 1560px) {
  .card-img-top {
    height: 10vw;
  }

  #courses-scroll {
    position: absolute;
    margin-top: 2.8%;
    width: 200px;
  }

  .subtitle-jumbotron {
    font-size: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .subtitle-jumbotron {
    font-size: 1.5rem;
  }

  .card-img-top {
    height: 25vw;
  }

  .courseApply-step:not(:last-child):before {
    visibility: hidden;
    clear: both;
  }

  .courseApply {
    display: block;
  }

  .courseApply-stepCount {
    margin-left: auto;
    margin-right: auto;
  }

  .container-fluid-courses,
  .row-courses,
  .col-courses {
    justify-content: center;
    text-align: center;
  }
}

#heading {
  font-weight: light;
  background: linear-gradient(270deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 30s linear infinite;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.verticalLineGetInv {
  --borderWidth: 3px;
  background: #fff;
  position: relative;
}

.verticalLineGetInv:after {
  content: "";
  position: absolute;
  left: calc(-1 * var(--borderWidth));
  bottom: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth));
  width: calc(100% + var(--borderWidth));
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.mw-150 {
  max-width: 150px;
}

@include media-breakpoint-up(md) {
  .mw-md-150 {
    max-width: 150px;
  }
}
@include media-breakpoint-up(lg) {
  .mw-lg-150 {
    max-width: 150px;
  }
}

.top-50 {
  top: 50%;
}

.shift-left-percent {
  transform: translateX(50%);
}
.shift-left-percent-skew {
  transform: translateY(50%) skewY(-3deg);
  @include media-breakpoint-up(lg) {
    transform: translateX(50%) skewX(-30deg);
  }
}
.shift-left {
  transform: translateX(50px);
}
.shift-right {
  transform: translateX(-50px);
}
.shift-right-percent {
  transform: translateX(-50%);
}
.shift-md-right-percent {
  @include media-breakpoint-up(md) {
    transform: translateX(-50%);
  }
}
.shift-top {
  transform: translateY(-50%);
}
.shift-top-10 {
  transform: translateY(-10em);
}
.shift-bottom {
  transform: translateY(50px);
}
.shift-bottom-percent {
  transform: translateY(50%);
}
.shift-md-reset {
  @include media-breakpoint-up(md) {
    transform: translate(0, 0) !important;
  }
}
.shift-vertical {
  transform: translate(50%, -50%);
}
.shift-vertical-md-margin {
  margin-right: -1em;
  margin-top: -1em;
  @include media-breakpoint-up(md) {
    margin-right: -3em;
    margin-top: -3em;
  }
}
.shift-top-200 {
  margin-top: -200px;
}
.shift-top-md-200 {
  @include media-breakpoint-up(md) {
    margin-top: -200px;
  }
}
.rotate-45 {
  transform: rotate(45deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-135 {
  transform: rotate(135deg);
}

.shift-up-container {
  height: -50%;

  .shift-up-item {
    transform: translateY(-50%);
  }
}
.list-group-item {
  border: none;
  border-radius: 0;
}

$class-slug: square !default;

div[class*=" #{$class-slug}"] {
  object-fit: cover;
}

@for $i from 1 through 20 {
  .mh-#{ 30 * $i } {
    max-height: 30px * $i;
  }
  .#{$class-slug}-#{$i} {
    max-width: 10px * $i;
    max-height: 10px * $i;
  }

  @include media-breakpoint-up(md) {
    .#{$class-slug}-md-#{$i} {
      max-width: 10px * $i !important;
      max-height: 10px * $i !important;
    }
  }
}
@include media-breakpoint-up(sm) {
  .#{$class-slug}-sm-auto{
    max-width: none!important;
    max-height: none!important;
  }
}
@include media-breakpoint-up(md) {
  .#{$class-slug}-md-none{
    max-width: none!important;
    max-height: none!important;
  }
}
@include media-breakpoint-up(lg) {
  .#{$class-slug}-lg-none{
    max-width: none!important;
    max-height: none!important;
  }
}
@for $i from 1 through 30 {
  .h-#{ $i } {
    height: 1em * $i!important;
  }
  .w-#{ $i } {
    width: 1em * $i!important;
  }
  @include media-breakpoint-up(md) {
    .h-md-#{ $i } {
      height: 1em * $i!important;
    }
    .w-md-#{ $i } {
      width: 1em * $i!important;
    }
  }
  @include media-breakpoint-up(lg) {
    .h-lg-#{ $i } {
      height: 1em * $i!important;
    }
    .w-lg-#{ $i } {
      width: 1em * $i!important;
    }
  }
}
.w-300 {
  width: 300%;
}

@include media-breakpoint-up(sm) {
  .floatings {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .floatings.floated {
    opacity: 1;
    transform: translateY(0);
  }
}

.agefield {
  position: absolute;
  text-indent: 9999em;
  left: -9999em;
}

.noFoundPage {
  min-height: 840px;
  height: 100vh;
  padding: 20px;
}
.carousel, .carousel-inner {
  height: 100%;
}
.carousel-item {
  @include media-breakpoint-up(sm) {
    padding: 0 50px;
  }
  @include media-breakpoint-up(md) {
    padding: 0 100px;
  }
}
.carousel-indicators {
  clear: both;
  position: relative;
  bottom: 40px;
  li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border: 1px solid #0008;
    border-radius: 50%;
    
    &.active {
      border: 1px solid $primary-light;
      background-color: $primary-light;
    }
  }
}
//TODO remove later by proper icon
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.right-shape {
  clip-path: polygon(100% 0, 75% 100%, 0 100%, 0 0);
}

.left-shape {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 25% 0);
}

.mr-minus-15 {
  @include media-breakpoint-up(md) {
    margin-right: -15%;
  }
}

.shape-md-outside {
  @include media-breakpoint-up(md) {
    shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    width: 25%;
    height: 100%;
    min-height: 100px;
    float: right;
    //background: black;
    clip-path: polygon(100% 0px, 10% 100%, 0px 100%, 90% 0);

    //opacity: .2;
    &.shape-left {
      shape-outside: polygon(100% 0, 0 100%, 0 0);
      float: left;
    }
  }
}

@include media-breakpoint-up(md) {
  .aspect_ratio {
    height: 0;
    padding-bottom: 67%;
    position: relative;
    align-content: center;

    > * {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.aspect_ratio-md {
  @extend .aspect_ratio;
}

.box-shadow {
  box-shadow: 0 5px 10px #0005;
}
.shadow-sm {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
}
.shadow-sm-md-none {
  @include media-breakpoint-up(md) {
    box-shadow: none !important;
  }
}
.bg-tranition {
  transition: background-color $transition ease;
}

body:not(.admin) {
  .form-control {
    background-color: transparent;

    &:focus,
    &:active {
      background-color: white !important;
    }
  }
}

.blue-overlay {
  position: relative;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $blue;
    opacity: 0.3;
    z-index: 1;
  }
}

.blended {
  background-color: $blue;
  background-blend-mode: multiply;
}

.rounded {
  border-radius: 0.15rem !important;
}
.rounded-md {
  border-radius: 1rem !important;
}

.call-to-action {
  width: 100%;
  min-height: 33vh;
}

.translation_preview {
  color: pink;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.w-md-50 {
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
.w-md-auto {
  @include media-breakpoint-up(md) {
    width: auto !important;
  }
}

.mh-33 {
  min-height: 33vh;
}

.alert.flash {
  position: fixed;
  bottom: 50px;
  z-index: 999999;
  right: 0;
}

.bg-md-transparent {
  @include media-breakpoint-up(lg) {
    background-color: transparent !important;
  }
}

.z-foreground {
  z-index: 2 !important;
}

body[class*="admin-pages-edit-"],
body[class*="pages-"] {
  .ql-image {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    span.ql-size-small,
    img.ql-size-small {
      width: 50%;
      display: block;
    }
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-align-right img {
    padding: 0.5em 0 0.5em 0.5em;
    float: right;
  }

  .ql-align-left img {
    padding: 0.5em 0.5em 0.5em 0;
    float: left;
  }

  pre {
    position: relative;
    color: white;
    overflow: unset;
    white-space: pre-wrap;
    padding: 2em 0;

    &:after {
      z-index: -1;
      content: "";
      position: absolute;
      background: $primary-light;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100vw;
      right: 0;
    }
  }
}

#courseScrollspy {
  background-image: url("~/media/circuit-board.svg");
  background-repeat: repeat;
}

.fullbleed {
  @include media-breakpoint-down(md) {
    max-width: none;
  }
}
.vertical-align-revert {
  &,
  > svg {
    vertical-align: revert;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: spinning 3s linear infinite;
}
.transform-absolute-center {
  top: 50%;
  transform: translateY(-50%);
}

#cookiehint {
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(100%);

  &.shown {
    svg {
      transform: rotate(-360deg);
    }
    transform: translateY(0);
  }

  .alert {
    border-radius: 0;

    svg {
      min-width: 30px;
      transition: transform 1s ease;
      width: 1em;
      fill: white;
      vertical-align: text-top;
    }
  }
}

.text-underline {
  &,
  &:link {
    text-decoration: underline !important;
  }
}
.text-underline-bold {
  position: relative;
  width: 100%;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 5px;
    background-color: inherit;
  }
}
.circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.afterdot {
  position: relative;
  width: 0.3em;
  height: 0.3em;
  display: inline-block;
}
.line-height-2-5 {
  line-height: 2.5;
}
.line-height-0 {
  line-height: 0;
}
.hover-transparent {
  transition: opacity $transition ease;
  &:hover {
    opacity: 0.8;
  }
}

.container-wide {
  max-width: 1600px;
}

.padded-text {
  padding-block: 5px;
  padding-inline: 5px;
  box-decoration-break: clone;
}
.mt-y-xl-5 {
  @media (min-height: 800px)  { 
    margin-top: 3rem !important;  
  }
}
.jumbotron-polygon {
  position: absolute;
  left: 50%;
  width: 100vw;
  height: 50% !important;
  transform: translate(-50%);
  bottom: 0;
  top: auto;
  @include media-breakpoint-up(md) {
    left: auto;
    bottom: auto;
    height: 100% !important;
    top: 0;
    right: 50%;
    clip-path: polygon(0px 0px, calc(100% - 50px) 10.86%, 100% 100%, 0% 100%);
    transform: unset;
  }
}

.border-top-2 {
  border-top-width: 2px;
}
.border-red {
  border-color: $red-light!important;
}
.border-md-0 {
  @include media-breakpoint-up(md) {
    border: 0!important;
  }
}
.border-right-md {
  @include media-breakpoint-up(md) {
    border-right: 1px solid !important;
  }
}
.border-left-md {
  @include media-breakpoint-up(md) {
    border-left: 1px solid !important;
  }
}

.list-style-none {
  list-style: none;
}
.w-min-width {
  width: min-content;
}
.m-0-auto {
  margin: 0 auto;
}
.text-md-white {
  @include media-breakpoint-up(md) {
    &,
    &:focus,
    &:hover,
    &:active {
      color: white !important;
    }
  }
}
.text-lg-white {
  @include media-breakpoint-up(lg) {
    &,
    &:focus,
    &:hover,
    &:active {
      color: white !important;
    }
  }
}
.bg-md-white {
  @include media-breakpoint-up(md) {
    background-color: white;
  }
}
.font-size-normal {
  font-size: 1em;
}
.font-size-normal-below-md {
  @include media-breakpoint-down(md) {
    font-size: 1em;
  }
}
.font-size-120 {
  font-size: 120%;
}
.justify-content-md-end {
  @include media-breakpoint-up(md) {
    justify-content: end !important;
  }
}
.justify-content-md-start {
  @include media-breakpoint-up(md) {
    justify-content: start !important;
  }
}

.customselect {
  position: relative;
  overflow: hidden;
  select {
    width: calc(100% + 1em) !important;
    display: grid !important;
    grid-template-areas: "select" !important;
    align-items: center !important;
    position: relative !important;
    max-width: calc(100% + 1em) !important;
    border: 1px solid var(--select-border) !important;
    border-radius: 0.25em !important;
    padding: 0.85em 1.5em !important;
    font-size: 1.25rem !important;
    cursor: pointer !important;
    line-height: 1.1 !important;
    background-color: $primary-light !important;
    border: 0 none !important;
    color: white !important;
    border-radius: 4px !important;
    height: auto !important;
  }
  &:after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: white;
    -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.hidden {
  display: none;
}

.adminnote {
  position: absolute;
  margin: 5px;
  top: 0;
  left: 0;
  background: #fffc;
  z-index: 13;
  border: 1px solid black;
  width: 100%;
  &:before {
    content: "Just visible for logged in users: ";
    color: red;
    width: 100%;
  }
}
.glow {
  box-shadow: 0px 10px 30px 10px rgba(0, 100, 255, 0.25);
}.word-wrap-break-word{
  word-wrap: break-word;
}
.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}
.hyphen {
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.dotted {
  &.red {
    background-image: url("~/media/dot_red.svg");
  }
  &.blue {
    background-image: url("~/media/dot_blue.svg");
  }
}