::selection {
  background-color: $blue;
  color: #fff;
}
.bg-primary ::selection {
  background-color: #fff;
  color: $blue;
}
::-moz-selection {
  background-color: $blue;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
div[class^="display-"] {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  color: $blue !important;
}
a:link {
  text-decoration: none !important;
}

.display-1 {
  font-size: 2rem;
}
.display-2 {
  font-size: 1.7rem;
}
@include media-breakpoint-up(sm) {
  .display-1 {
    font-size: 2rem;
  }
  .responsiveD-3 {
    font-size: 1.5rem;
  }
  .responsiveH2 {
    font-size: 1rem;
  }
  .pre-xs-customise,
  .responsiveH2 {
    margin-bottom: 0;
    overflow: unset;
  }
  .responsiveP {
    font-size: 0.8rem;
    white-space: initial;
  }
}

@include media-breakpoint-up(md) {
  .display-1 {
    font-size: 3rem;
  }
  .responsiveD-3 {
    font-size: 2.4rem;
  }
  .responsiveH2 {
    font-size: 2rem;
  }
  .responsiveP {
    font-size: 1rem;
  }
}
@include media-breakpoint-up(md) {
  .img-xs-customise {
    margin-top: 0;
  }
  .responsiveD-3 {
    font-size: 1.3rem;
  }
  .responsiveH2 {
    font-size: 0.5rem;
  }
  .xs-customise,
  .responsiveH2 {
    margin-bottom: 0;
    overflow: unset;
  }
  .responsiveP {
    font-size: 0.8rem;
    white-space: initial;
    margin-bottom: 0;
  }
}
.text-orange {
  color: $textOrange;
}
.text-shadow {
  text-shadow: 1px 2px 3px black;
}
.text-lightgrey {
  color: #aaaaaa;
}
.white-space-nowrap {
  white-space: nowrap;
}
