::selection {
  background-color: $primary;
  color: #fff;
}
.bg-primary ::selection {
  background-color: #fff;
  color: $primary;
}
.bg-section ::selection {
  background-color: $primary;
  color: #fff;
}
::-moz-selection {
  background-color: $primary;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
div[class^="display-"] {
  font-family: "Gordita-Bold", sans-serif;
}
h4,
h5,
h6 {
  font-family: "Gordita", sans-serif;
  font-weight: 300 !important;
}
//h4 {
//  font-size: 1rem;
//}
a:link {
  text-decoration: none !important;
}
.font-weight-light {
  font-family: "Gordita-Regular", sans-serif !important;
}
.font-weight-bold {
  font-weight: 100 !important;
  font-family: "Gordita-Bold", sans-serif;
}
.display-1 {
  font-size: 3rem !important;
}
.display-2 {
  font-size: 1.7rem;
}
@include media-breakpoint-down(lg) {
  .lead {
    font-size: 1rem !important;
  }
}
@include media-breakpoint-up(lg) {
  .responsiveD-3 {
    font-size: 1.5rem;
  }
  .responsiveH2 {
    font-size: 1rem;
  }
  .pre-xs-customise,
  .responsiveH2 {
    margin-bottom: 0;
    overflow: unset;
  }
  .responsiveP {
    font-size: 0.8rem;
    white-space: initial;
  }
}

@include media-breakpoint-up(xl) {
  .responsiveD-3 {
    font-size: 2.4rem;
  }
  .responsiveH2 {
    font-size: 2rem;
  }
  .responsiveP {
    font-size: 1rem;
  }
}
@include media-breakpoint-up(md) {
  .img-xs-customise {
    margin-top: 0;
  }
  .responsiveD-3 {
    font-size: 1.3rem;
  }
  .responsiveH2 {
    font-size: 0.5rem;
  }
  .xs-customise,
  .responsiveH2 {
    margin-bottom: 0;
    overflow: unset;
  }
  .responsiveP {
    font-size: 0.8rem;
    white-space: initial;
    margin-bottom: 0;
  }
}
.text-orange {
  color: $textOrange;
}
.text-shadow {
  text-shadow: 1px 2px 3px black;
}
.text-shadow-white {
  text-shadow: 1px 2px 0 white;
}
.text-shadow-white {
  text-shadow: 1px 2px 0 white;
}
.text-shadow-light-blue {
  text-shadow: 1px 2px 2px $light-blue;
}
.text-light {
  color: $light!important;
}
.white-space-nowrap {
  white-space: nowrap;
}


.h3-md {
  @include media-breakpoint-up(md) {
    font-size: 1.75rem;
  }
}

label {
  font-size: 0.8em;
}
