mixin buttonGroup(model, path, identifier = title)
  form.d-flex.flex-wrap(method='POST', action='/admin/'+path+'/delete/'+model.slug +'?_method=DELETE')
    if model.language && model.languageVersion
      a.btn.btn-outline-primary.btn-sm.mr-2(href="/admin/" + path + "/edit/" + model.languageVersion.slug)
        span.text-uppercase.font-weight-bold= model.language.title === "en" ? "de" : "en"
        =model.languageVersion.identifier
        = " translation"
    else
      span.btn.btn-danger.btn-sm.disabled.mr-2 No translation!

    a.btn.btn-sm.btn-outline-primary.mr-2(target="_blank" href="/"+(model.languageVersion ? model.language.title+"/" : "") +path+"/"+model.slug)="Show"
    a.btn.btn-sm.btn-outline-primary.mr-2(href="/admin/"+path+"/edit/"+model.slug) Edit
    button.btn.btn-sm.btn-outline-danger(type='submit') Delete
