mixin contactformfaded
  section#contactModal.cf-section.modal.fade(role='dialog', aria-labelledby='contactModalLabel', aria-hidden='true', displayed='false')
    .container.modal-dialog(role='document')
      .section-title-area.modal-body
        h2.section-title
          | Contact Us
      h3.cf-title
        | Let’s connect! Our admissions team will call you soon to chat about our courses and your goals.
      #contactForm-f255-o1.contactForm(role='form', lang='de-DE', dir='ltr')
        .screen-reader-response
        form.contactForm-form(action='/contact/#contactForm-f255-o1', method='post', novalidate='novalidate')
          .fluid-item
            div
              span.contactForm-form-control-wrap.username
                input.contactForm-form-control.contactForm-text.contactForm-validates-as-required(type='text', name='username', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Your name')
            div
              span.contactForm-form-control-wrap.email
                input.contactForm-form-control.contactForm-text.contactForm-email.contactForm-validates-as-required.contactForm-validates-as-email(type='email', name='email', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Your email')
            div
              span.contactForm-form-control-wrap.phone
                input.contactForm-form-control.contactForm-text.contactForm-tel.contactForm-validates-as-required.contactForm-validates-as-tel(type='tel', name='phone', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Your phone number')
            div
              span.contactForm-form-control-wrap.Location
                input.contactForm-form-control.contactForm-text.contactForm-validates-as-required(type='text', name='Location', value='', size='40', aria-required='true', aria-invalid='false', placeholder='Your city')
          .m-b-10
            span.contactForm-form-control-wrap.message
              textarea.contactForm-form-control.contactForm-textarea(name='message', cols='40', rows='10', aria-invalid='false', placeholder='Your message')
          .contactForm-response-output.contactForm-display-none
