mixin contactlist(public)
  ul.list-group
    each contact in contacts
      li.list-group-item.mb-3
        h2.mr-3=contact.name
        p.mr-3=contact.content
        div.mr-3=contact.order
        
        form.d-flex.justify-content-between(method='POST', action='/contacts/delete/'+contact._id +'?_method=DELETE')
          a.btn.btn-outline-primary.mr-2(target="_blank" href="contacts/"+contact._id) Show
          if user
            .d-flex.align-items-center
              
              a.btn.btn-outline-primary.mr-2(href="contacts/edit/"+contact._id) Edit
              button.btn.btn-outline-danger(type='submit') Delete
