mixin curriculumForm
  #curriculumpopup.modal(tabindex='-1', role='dialog', aria-labelledby='curriculumpopup', aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content.border-radius-0
        #curriculum_questionroot