mixin dataPrivacy
  #dataPrivacy.container
    .modal-content
      .modal-header
        h5#dataPrivacy.modal-title Data Privacy
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        p
          strong Responsible Entity:
          |  DCI Digital Career Institute gGmbH
        p
          strong Contact for data privacy: 
          | datenschutzauskunft@digitalcareerinstitute.org
        p
          strong Purpose of Collection of data:
          |  Execution of our service which might require the collection of personal data
        p
          strong Legal basis: 
          | Art. 6 Abs. 1 lit. b DS-GVO
        p
          strong Recipient of data:
          |  DCI Digital Career Institute gGmbH
        p
          strong Duration of storage of data:
          |  At revocation of consent, latest twelve months after collecting consent.
        p
          strong Rights of affected persons:
        ol
          li Right to request information (Art. 15 DS-GVO)
          li Right to have one’s stored information corrected (Art. 16 DS-GVO)
          li Right to have information deleted (Art. 17 par. 1 DS-GVO)
          li  Right to restrict the processing of data (Art. 18 DS-GVO)
          li  Right to object (Art. 21 DS-GVO)
          li Transfer of data (Art. 20 DS-GVO)
        p
          | Furthermore affected persons have the right to appeal to the responsible data protection agency (e.g. Landesbeauftragten für den Datenschutz und die Informationsfreiheit Berlin)
        p Affected persons have the right to withdraw the consent at any time.
        p
          | If you have questions pertaining to one of these points please refer to: datenschutzauskunft@digitalcareerinstitute.org

      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Ok
