mixin eventlist(public)
  .container
    .row
      each location, locationname in locationEvents
        .col-md-6
          h2.mt-3=locationname
          each event in location
            +singleEvent(event)
