mixin eventlist(public)
  .container
    .row
      each location, locationname in locationEvents
        .col-md-6
          h2.mt-3=locationname
          ul.list-group
            each event in location
              li.list-group-item.mb-3
                a(href=event.url target='_blank')=event.name
                br
                =event.start
                br
                =event.text
