mixin joblist(public)
  ul.list-group
    each job in jobs
      li.list-group-item.mb-3.p-5
        h2.mr-3=job.name
        p.mr-3.my-5=job.content
          each location in job.locations
            .badge.badge-primary.mr-2=location.name


        if public
          a.btn.btn-outline-primary.btn-sm(data-toggle='modal', data-target='#contactFormModal') Contact us
        else 
          .d-flex.align-items-center
            a.btn.btn-outline-primary.mr-2(href="/jobs/"+job.slug target="_blank") Show in Frontend
            a.btn.btn-outline-primary.mr-2(href="/admin/jobs/edit/"+job.slug) Edit
            form.d-flex.justify-content-between(method='POST', action='/admin/jobs/delete/'+job.slug +'?_method=DELETE')
              button.btn.btn-outline-danger(type='submit') Delete
