mixin joblist(public)


  each job in jobs
    a(href="/jobs/"+job.slug)
      .p-3.mb-5.bg-light.border-0.hover-shadow
        h2.mr-3=job.name
        p
          span.mr-2 Location:
          each location in job.locations
            span.badge.badge-primary.mr-2=location.name
            
        a.btn.btn-outline-primary.mr-2(href="/jobs/"+job.slug) Show