mixin menuFooter

 nav.fixed-bottom.navbar.navbar-expand-md.navbar-dark.bg-primary(class=currentPath == "/" ? "" : "")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='')
    span.navbar-toggler-icon
  .navbar-collapse.collapse.w-100
    span.navbar-brand.p-0= "Logged in as "+user.username
    ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
      li.nav-item
      if user.admin === "true"
        li.nav-item
          a.nav-link(href='/admin/contacts') Contacts
        li.nav-item
          a.nav-link(href='/admin/menulocations') Menulocations
        li.nav-item
          a.nav-link(href='/admin/locations') Locations

      li.nav-item
        a.nav-link(href='/admin/stories') Stories
      if user.admin === "true"
        li.nav-item
          a.nav-link(href='/admin/pages') Pages
        li.nav-item
          a.nav-link(href='/admin/events') Events
        li.nav-item
          a.nav-link(href='/admin/courses') Courses
        li.nav-item
          a.nav-link(href='/admin/jobs') Jobs
        li.position-relative.nav-item
          a.nav-link.mx-2.border-left.pl-3.border-secondary(href='/users/logout') Logout