mixin menuFooter

 nav.fixed-bottom.navbar.navbar-expand-lg.navbar-dark.bg-primary
  button.navbar-toggler.row(type='button', data-toggle='collapse', data-target='#menuFooter')
    span.navbar-toggler-icon
    span.sr-only="Toggle menu"

  #menuFooter.navbar-collapse.collapse.w-100
    ul.pt-3.pt-md-0.nav.navbar-nav.ml-auto.w-100.justify-content-end
      li.nav-item
      if user && user.superAdmin === "true"
        li.nav-item
          a.nav-link(href='/admin/users') Users
      if user && user.admin === "true" || user.superAdmin === "true"
        li.nav-item
          a.nav-link(href='/admin/contacts') Contacts
        li.nav-item
          a.nav-link(href='/admin/menulocations') Menulocations
        li.nav-item
          a.nav-link(href='/admin/locations') Locations

      li.nav-item
        a.nav-link(href='/admin/stories') Stories
      if user && user.admin === "true" || user.superAdmin === "true"
        li.nav-item
          a.nav-link(href='/admin/pages') Pages
        li.nav-item
          a.nav-link(href='/admin/events') Events
        li.nav-item
          a.nav-link(href='/admin/courses') Courses
        //- li.nav-item
        //-   a.nav-link(href='/admin/jobs') Jobs
        li.nav-item
          a.nav-link(href='/admin/employees') Employees
        li.nav-item
          a.nav-link(href='/admin/partners') Partner
        li.nav-item
          a.nav-link(href='/admin/redirects') Redirects
        li.nav-item
          a.nav-link(href='/admin/settings') Settings
      li.position-relative.nav-item
        a.d-none.d-md-block.nav-link.ml-2.border-left.pl-3.border-grey(href='/users/logout') Logout
        a.d-md-none.nav-link.mx-md-2.pl-md-3(href='/users/logout') Logout
      if user && user.admin === "true" || user.superAdmin === "true"
        li.position-relative.nav-item
          a.nav-link.text-danger(href='/admin/settings/clearcache') Clear cache
