mixin navigation
 nav.sticky-top.navbar.navbar-light.navbar-expand-md.bg-white
  a.navbar-brand.d-flex.w-50(href="/")
    img(src='/media/dci.svg' alt='dci-logo' id='dci-logo')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
    span.navbar-toggler-icon
  #collapsingNavbar3.navbar-collapse.collapse.w-100
    ul#headernav.nav.navbar-nav.ml-auto.w-100.justify-content-end
      if user
        li.position-relative.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Admin
          .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item(href='/admin/contacts') Contacts
            a.dropdown-item(href='/admin/categories') Categories
            a.dropdown-item(href='/admin/locations') Locations
            a.dropdown-item(href='/admin/stories') Stories
            a.dropdown-item(href='/admin/pages') Pages
            a.dropdown-item(href='/admin/jobs') Jobs
            a.dropdown-item(href='/admin/events') Events
            a.dropdown-item(href='/admin/courses') Courses
            a.dropdown-item(href='/admin/jobs') Jobs

      li.position-relative.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(class= currentPath.includes('/courses') ? "active" : "" data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | COURSES
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          each course in courses
            a.dropdown-item(class= currentPath === ("/courses/" + course.slug) ? "active" : "" href='/courses/'+ course.slug)=course.headline
      li.position-relative.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(class=currentPath.includes('/events') ? "active" : "" href='/events' data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | EVENTS

        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(class= currentPath === ("/events") ? "active" : "" href='/events') All locations 
          each location in locations
            a.dropdown-item(class= currentPath === ("/events/" + location.name) ? "active" : "" href='/events/'+ location.name)=location.name
      li.position-relative.nav-item
        a.nav-link.mr-4(class=currentPath == "/stories" ? "active" : "" href='/stories') STORIES
    
      li.position-relative.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle.mr-4(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' class=currentPath == "/admin/contacts" ? "active" : "" href='/admin/contacts')
          | GET INVOLVED
        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
          each page in pages
            a.dropdown-item(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/'+ page.slug)=page.title

      li.position-relative.nav-item
        a.nav-link.mr-4(data-toggle='modal', data-target='#contactFormModal') CONTACT US

        if user
          li.position-relative.nav-item
            a.nav-link(href='/users/logout') LOGOUT
        else
          li.position-relative.nav-item
            a.nav-link(class=currentPath == "/users/login" ? "active" : "" href='/users/login') LOGIN
