mixin navigation
  nav#nav-primary.z-1.navbar.navbar-expand-lg.navbar-light.py-0.bg-tranition.px-0.px-md-0.flex-column(class=currentPath == "/" ? " z-foreground " : "" class=!blank ? " sticky-top " : "")
    .align-items-stretch.pl-md-0.pr-md-0.nav-content(class=currentPath && currentPath.includes('/admin') ? ' container-fluid' : " container-lg" )
      if !blank
        a.navbar-brand.text-primary.py-3.pl-sm-3.h-60(href="/")
          include ../../assets/media/dci.svg
      else
        span.navbar-brand.text-primary.py-3.pl-sm-3.h-60()
          include ../../assets/media/dci.svg
      if !blank
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsingNavbar3')
          span.navbar-toggler-icon
            include ../../assets/icons/burger.svg
          span.sr-only="Toggle menu"
      #collapsingNavbar3.navbar-collapse.collapse.w-100.mt-0.mt-md-0.align-items-stretch
