mixin newsletter
  #newsletter.container.shift-up-item
    .bg-light.box-shadow
      h2#nlheadline.display-2.mb-5.text-center=__("Subscribe to our newsletter")
      .row
        .footer-subscribe.d-flex.justify-content-center.col-md-8.offset-md-2
          .w-100.px-sm-5
            form#mc-embedded-subscribe-form(name='mc-embedded-subscribe-form', method='post', action='/newsletter-signup')
              label.sr-only(for='newsletter_email')=__("Location")
              input#newsletter_email.subs_input(type='email', required, placeholder=__("Email"), name='email')
              button#nlbtn.btn.btn-light(type="submit")
                span=__("Subscribe")
