mixin newsletter
	.footer-connect.py-5.bg-primary
		.container.py-5
			h2#nlheadline.display-2.mb-5.text-white.text-center Subscribe to our newsletter
			.row
				.footer-subscribe.d-flex.justify-content-center.col-md-8.offset-md-2
					.w-100.px-sm-5
						form#mc-embedded-subscribe-form(name='mc-embedded-subscribe-form', method='post', action='/newsletter-signup')
							input#mce-EMAIL.subs_input(type='email', required, placeholder='Email address', name='email')
							button#nlbtn.btn.btn-light(type="submit")
								span Subscribe