mixin pagelist(public)
  ul.list-group
    each page in pages
      li.list-group-item.mb-3
        h2.mr-3=page.title
        p.mr-3=page.content
        div.mr-3=page.order

        form.d-flex.justify-content-between(method='POST', action='/admin/pages/delete/'+page.slug +'?_method=DELETE')
          a.btn.btn-outline-primary.mr-2(href="/pages/"+page.slug) Show

          if !public
            .d-flex.align-items-center
              a.btn.btn-outline-primary.mr-2(href="/admin/pages/edit/"+page.slug) Edit
              button.btn.btn-outline-danger(type='submit') delete
