mixin singleStory(story, showFullContent)
  div.story-item.p-2.mb-3.d-flex.flex-column.justify-content-between.p-5
    p.text-left=story.excerpt
    .row
      .col-6.px-0.align-items-center
        img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.image+"')")
      .col-6
        h3=story.alumniName          
        p=story.workPosition
    div.text-right
      a.warningColorDark(href="/stories/"+story.slug) +Show more
