mixin singleStory(story, showFullContent)
  div.story-item.py-4.px-3.mb-3.d-flex.flex-column.justify-content-between.w-100
    a(href="/stories/"+story.slug)
      .row.position-relative
        .col-10.offset-1.col-md-8.offset-md-2.align-items-center
          img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.avatar+"')" alt=story.icon)
        .col-5.position-absolute.align-items-center.bottom.right
          img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.companylogo+"')")
      div
        h3.font-weight-bold=story.alumniName          
        code=story.workPosition
        p.text-left.text-muted=story.excerpt
  
    div.text-right
      a.text-muted.font-weight-bold(href="/stories/"+story.slug) Show More
    if user
      form.d-flex.justify-content-between(method='POST', action='/admin/stories/delete/'+story.slug +'?_method=DELETE')
        a.btn.btn-outline-primary.mr-2(target="_blank" href="/stories/"+story.slug) Show
        if user.id === story.userId || user.admin === "true"
          .d-flex.align-items-center
            a.btn.btn-outline-primary.mr-2(href="/admin/stories/edit/"+story.slug) Edit
            button.btn.btn-outline-danger(type='submit') Delete
