mixin singleEvent(event)
  li.list-group-item.mb-3.py-3
    .row.m-auto
      .col-sm-12.col-md-11
        p.xs-customise
          h2.responsiveH2.mt-3
            a.animationLink(href=event.url target='_blank')=event.name
          p.responsiveP.lead.mt-1=event.start
    .row.m-auto
      .col-lg-4.col-md-12.col-sm-12
        img.img-xs-customise.img-fluid.rounded.my-3(src=event.imageurl)
      .col-lg-8.col-md-12.col-sm-12
        p.responsiveP.float-right.text-justify.mt-3=event.text
        p:a.secondaryLinks.responsiveP.float-right.mt-2.mb-3(data-toggle='modal', data-target='#contactFormModal') 
          | +Contact Us
