mixin singleStory(story, showFullContent)
  div.story-item.p-2.mb-3.d-flex.flex-column.justify-content-between.bg-light.w-100
    .row
      .col-3.align-items-center
        img.object-fit-cover.img-fluid.rounded-circle.square(style="background-image: url('/images/"+story.image+"')")
      .col-9
        h3=story.alumniName          
        code=story.workPosition
        p.text-left=story.excerpt

    div.text-right
      a.warningColorDark(href="/stories/"+story.slug) +Show more
    if !public
      form.d-flex.justify-content-between(method='POST', action='/admin/stories/delete/'+story.slug +'?_method=DELETE')
        a.btn.btn-outline-primary.mr-2(href="/stories/"+story.slug) Show

        .d-flex.align-items-center
          a.btn.btn-outline-primary.mr-2(href="/admin/stories/edit/"+story.slug) Edit
          button.btn.btn-outline-danger(type='submit') delete
