mixin singleStory(story, showFullContent)
  div.py-4.px-3.mb-3.d-flex.flex-column.justify-content-between.w-100
    a(href="/stories/"+story.slug)
      +storyImages(story)
      div.content
        h3.font-weight-bold=story.title
        code=story.workPosition
        blockquote.text-left.text-muted=story.excerpt

    div.text-right
      a.text-muted.font-weight-bold(href="/stories/"+story.slug)=__("Show More")
    if user
      form.d-flex.justify-content-between(method='POST', action='/admin/stories/delete/'+story.slug +'?_method=DELETE')
        a.btn.btn-outline-primary.mr-2(target="_blank" href="/stories/"+story.slug) Show
        if user.id === story.userId || user.admin === "true"
          .d-flex.align-items-center
            a.btn.btn-outline-primary.mr-2(href="/admin/stories/edit/"+story.slug) Edit
            button.btn.btn-outline-danger(type='submit') Delete
