mixin storylist(public)
  div
    ul.row.story-cards-ul.mx-2.justify-content-center
      each story in stories
        li.mb-3.col-md-6.col-sm-12.col-lg-4.d-flex.story-cards-li.floatings
          .hover-shadow.bg-light
            +singleStory(story)
    .pt-4.text-center
      a.btn.btn-lg.btn-gradient-secondary.mx-5(href="/stories") Show all Stories

