mixin storyImages(story)
  .row.position-relative
    .col-10.offset-1.col-md-8.offset-md-2.align-items-center
      img.object-fit-cover.img-fluid.rounded-circle.square(src="/media/pixel.gif" style="background-image: url('/images/"+story.avatar+"')" alt=story.alumniName )
    .col-5.position-absolute.align-items-center.bottom.right
      img.object-fit-cover.img-fluid.rounded-circle.square(alt=story.alumniName src="/media/pixel.gif" style="background-image: url('/images/"+story.companylogo+"')")

