mixin translate(string)
  if user && user.superAdmin === "true" && locals.settings.show_language_markers && !currentPath.includes('/admin')
    form.translation_preview( action=`/admin/settings/#translation_${string.toLowerCase().replace(/ /g, "")}`, id=`translation_${string.toLowerCase().replace(" ", "_")}`)
      button.btn.btn-sm.btn-link.text-danger.text-shadow-white(type="submit")= string
  =__(string)
