mixin footer
  footer.bg-light.site-footer(role='contentinfo')
    .footer-connect
      .container
        .footer-subscribe
          form#mc-embedded-subscribe-form(name='mc-embedded-subscribe-form', method='post', action='/newsletter-signup')
            input#mce-EMAIL.subs_input(type='email', required, placeholder='Email address', name='EMAIL')
            button#btn.btn.btn-primary(type="submit")
              span Subscribe
    .site-info
      .container.container-footer
        .row.footer-flex
          .col-md-8.col-md-offset-2
            .row
              .col-xs-6.col-md-3
                h5 Company
                .menu-company-container
                  ul.footer-ul
                    li
                      a(href='https://digitalcareerinstitute.org/en/about-us/') About us
                    li
                      a(href='https://digitalcareerinstitute.org/en/jobs/') Jobs
                    li
                      a(href='https://digitalcareerinstitute.org/en/faq/') FAQ
                    li
                      a(href='https://digitalcareerinstitute.org/en/press/') Press
                    li
                      a(href='https://digitalcareerinstitute.org/contact/') Contact
              .col-xs-6.col-md-3
                h5 Community
                .menu-community-container
                  ul.footer-ul
                    li
                      a(href='https://digitalcareerinstitute.org/en/scholarship/') Scholarship
                    li
                      a(href='https://digitalcareerinstitute.org/en/hire/') Hire your digital talents with DCI
                    li
                      a(href='https://digitalcareerinstitute.org/en/stories/') Stories
              .col-xs-6.col-md-3
                h5 Courses
                .menu-courses-container
                  ul.footer-ul
                    li
                      a(href='https://digitalcareerinstitute.org/en/onetoone-coaching/') One to One Coaching
                    li
                      a(href='https://digitalcareerinstitute.org/en/orientiation-course/') Orientation Course
                    li
                      a(href='https://digitalcareerinstitute.org/en/courses/one-year-program/') Web Development Course
                    li
                      a(href='https://digitalcareerinstitute.org/en/courses/digital-marketing-e-commerce/')
                        | Digital Marketing
                        | / E-Commerce
              .col-xs-6.col-md-3
                h5 Follow
                .menu-social-links-menue-container
                  ul.footer-ul
                    li
                      a(href='https://www.facebook.com/devugees') Facebook
                    li
                      a(href='https://twitter.com/DevugeesOrg') Twitter
                    li
                      a(href='https://medium.com/devugees') Medium
                    li
                      a(href='https://www.youtube.com/channel/UCSM_3ldxjcclGTcXaJRBYTw') YouTube
    .footer-suf
      .container
        .row.suf-row
          .col-md-8.col-md-offset-2
            p.last-line DCI Digital Career Institute
            ul.legal-links
              li
                a(href='https://digitalcareerinstitute.org/en/disclaimer/') Disclaimer
              li
                a(href='https://digitalcareerinstitute.org/en/imprint/') Imprint
              li
                a(href='https://digitalcareerinstitute.org/datenschutz/') Datenschutz
              li
                a(href='https://digitalcareerinstitute.org/en/data-privacy/') Data Privacy
