mixin getinvolved
  .container.my-5.p-5.text-left.getInvolved-container
    .row.getInvolved-content
      h1.display-1.text-right.mx-5
        div.headingSection.display-1.font-weight-bold.text-left GET
        div.headingSection.display-1.font-weight-bold INVOLVED
    .row.ml-5
      div.verticalLineGetInv.pt-5.mt-5
        each page in pages
        
          div.mx-5
             a.linksInvolved(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/'+ page.slug)=page.title
        
        div.mx-5.mb-5
          a.linksInvolved(href='/jobs/') Jobs
             
     
      
