mixin getinvolved
  section#services.section-services
    .container
      .section-title-area
        h1.display-1.mx-5
          div.h2.section-title.mainTexts
            | GET INVOLVED
      .row.justify-center
        each page in pages
          .col-sm-6.col-md-3.involved-boxes
            .service-item.border
              a.service-link(href="/pages/" + page.slug)
                span.screen-reader-text
                  = page.title
              .service-content
                p=page.title

             
     
      
