mixin getinvolved
  section#services.section-services.bg-light
    .container.text-center
      h2.display-1.text-uppercase GET INVOLVED
      h3.mb-5.text-muted Please contact us to learn more how you can be involved
      .div.d-inline-block
        each page in pages
          div.story-item.get-involved.py-4.px-3.mb-3.d-inline-block.justify-content-between
            a.service-link.text-muted(href="/pages/" + page.slug)
              span.screen-reader-text
                = page.title
        