mixin getinvolved
  section#services.section-services.bg-light.pt-5
    .container.text-center
      h2.display-1.text-uppercase GET INVOLVED
      h3.text-muted Please contact us to learn more how you can be involved
      .py-5
        each page in headerPages
          div.p-2.mb-3.d-inline-block.justify-content-between.hover-shadow
            a.text-muted(href="/pages/" + page.slug)
              h4.mb-0.text-muted
                = page.title
        