mixin getinvolved
  .bg-light.py-md-5
    .container.py-5.text-left.getInvolved-container
      h2.display-1.mb-5 Get Involved
      .ml-5.position-relative.z-1
        div.verticalLineGetInv.bg-light.d-inline-block
          each page in pages
          
            div.mx-5
              a.linksInvolved(class= currentPath === ("/pages/" + page.slug) ? "active" : "" href='/pages/'+ page.slug)=page.title
          
          div.mx-5.mb-5
            a.linksInvolved(href='/jobs/') Jobs
              
      
        
