
//- var typed = new Typed('.subtitle', {
  strings: ["Learn digital skills with us to get the most fulfilling job"],
  typeSpeed: 30});

mixin home 

  .homeSection.container 
    div.mainHome.d-flex.m-auto 
      div.row.contentHome.m-auto     
        p.startYour START YOUR 
        p.digitalCarrer DIGITAL CARRER
        p.subtitle.mt-3
        .row.mt-5.buttonRow
           button.btn.btn-lg.btn-warning.browserCourses.mr-5(href='/courses', role='button') Browser Courses      
           button.btn.btn-lg.btn-danger.contactUs(data-toggle='modal', data-target='#contactFormModal') Contact us
