mixin home 

  .homeSection 
    div.mainHome.d-flex 
      div.contentHome.m-auto
        .col.mx-1.text-center
          p.startYour.h1 START YOUR 
          p.digitalCareer.h1 DIGITAL CAREER
          p.subtitle.h2.mb-5 Learn digital skills with us to get the most fulfilling jobs
          .m-auto.buttonRow.text-center
             a.btn.btn-lg.btn-gradient-secondary.mr-4(href='/courses', role='button') Browse Courses      
             button.btn.btn-lg.btn-gradient-primary(data-toggle='modal', data-target='#contactFormModal') Contact us
      
    
