mixin jumbotron
  section
    .jumbotron.jumbotron-fluid.jumbotron-courses
      .container
        h1.jumbotron-header Start your digital Career
        p.paragraph-jumbotron
          | Learn digital skills with us 
          br
          |  get the most fulfilling jobs.
        .btn-group
          a.btn.btn-primary.btn-lg.active(href='/courses', role='button') Brows Courses
          button.btn.ml-3.btn-secondary.rounded.mx-1.contact-us-btn(data-toggle='modal', data-target='#contactModal')
            |  Contact Us

