mixin ourCoursesSection
  section#services.section-services.py-5.mt-5
    .container
      h2.display-1.text-center.text-uppercase Our courses
      h3.mb-5.text-center.text-muted We offer many interesting educational trainings
      
      .row.mx-5
        each course in courses
          .col-md-6.col-lg-4
            .service-item.p-4
              a.card-link(href="/courses/"+course.slug)
                .service-image.icon-image.mb-5
                  img.h-100(src="/images/"+course.icon, alt=course.title)
                .service-content
                  h4.service-title= course.headline
                  p=course.title