mixin ourCoursesSection
  section#ourcourses.py-5
    .container.pt-5
      h2.display-1.text-center.text-uppercase Our courses
      h3.mb-5.text-center.text-muted We offer many interesting educational trainings
      
      .row.mx-md-5.justify-content-center
        each course in courses
          .col-md-6.col-lg-4.mb-3.floatings
            .bg-light.p-4.text-center.hover-shadow
              a.card-link(href="/courses/"+course.slug)
                .m-3.row.position-relative
                  .col-10.offset-1.col-md-8.offset-md-2.align-items-center
                    img.object-fit-cover.img-fluid.square(src="/media/pixel.gif" alt=course.headline style="background-image: url('/images/"+course.icon+"')")

                h4.service-title= course.headline
                p.text-muted=course.title

      .text-center
        a.btn.btn-lg.btn-gradient-secondary(href='/courses/', role='button', aria-pressed='true') All Courses
