mixin ourCoursesSection
  section#services.section-services.my-5
    .container.container-courses
      .section
        h1.display-1.font-weight-bold.text-left
          | Our 
          br
          | Courses
      .row.mt-5
        each course in courses
          .col-md-6.col-lg-4
            .service-item.p-5
              a.service-link(href="/courses/"+course.slug)
                span.screen-reader-text
                  = course.title
              .service-image.icon-image
                img.h-100(src=course.icon, alt=course.title)
              .service-content
                h4.service-title= course.headline
                p=course.title

      .section-button-wrap
        a#btn.btn.btn-primary.btn-lg.active(href='/courses/', role='button', aria-pressed='true') Browse Courses
