mixin partners
  section#partners.section-services
    .container.container-courses
      .section-title-area
        h1.display-1.text-left.ml-5
          div.headingSection.display-1.font-weight-bold.text-left
            | OUR 
          div.headingSection.display-1.font-weight-bold.text-left
            | PARTNERS
          
      .partners-wrap
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/logo_sumup_lineal-1024x268.jpg')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/Trivago.svg_.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/EBay_logo.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2017/05/1024px-Sofatutor_logo.png')")
        .partners-logo(style="background-image: url('https://digitalcareerinstitute.org/wp-content/uploads/2018/04/InVision-cmyk-2.jpg')")
