mixin partners
  section.py-5.section-services
    .container.py-5.text-center
      h2.display-1.text-center.text-uppercase Our Partners
      h3.mb-5.text-center.text-muted Meet our partners
      div
        .partners-logo(style="background-image: url('/media/sumup.jpg')")
        .partners-logo(style="background-image: url('/media/trivago.png')")
        .partners-logo(style="background-image: url('/media/ebay.png')")
        .partners-logo(style="background-image: url('/media/sofatutor.png')")
        .partners-logo(style="background-image: url('/media/invsion.jpg')")
