mixin quote
  .bg-light
    .position-relative.container.overflow-hidden.my-5
      section#stats.section-counter.py-5.mb-5.row
        div.col-lg-9
          //-iframe(frameborder='0', height='100%', width='100%', src='https://youtube.com/embed/BLUfMfcN82c?controls=0&showinfo=0&autohide=1')
          img.h-100.w-100.object-fit-cover(alt="people programming" src='/media/bg1.jpg')
        .col-lg-3
          .bg-white.p-3.h-100.d-flex.flex-column.justify-content-center
            h3.m-0 The Digital Career Institute was born as an initiative to integrate refugees into digital jobs. Today it is committed to train anyone who wants to pursue a tech career.
              
        .container.container-counter.mt-4
          .col-12.bg-white.py-5
            .row.text-primary
              .col-sm-6.col-md-3
                .counter-item
                  .counter-number
                    span.counter-count 300
                  span Students
              .col-sm-6.col-md-3
                .counter-item
                  .counter-number
                    span.counter-count 30
                  span Courses Started
              .col-sm-6.col-md-3
                .counter-item
                  .counter-number
                    span.counter-count 250
                  span Company Tours
              .col-sm-6.col-md-3
                .counter-item
                  .counter-number
                    span.counter-count 4
                  span Locations
            
