mixin statsCounter
  section#stats.section-counter.bg-light.py-5
    .container.container-counter
      .section-title-area
        h2.display-1.text-center.text-uppercase Why Digital Career Institute
        h3.mb-5.text-center.text-muted Because we are cool, I dont know!
      .row.mx-5
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 300+
            .text-muted Students
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 30+
            .text-muted Courses Started
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 250+
            .text-muted Company Tours
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.n 3+
            .text-muted Locations
      
