mixin testimonialsDevugees
  section#testimonials.section-testimonials.section-padding.mb-5
    .container.container-testimonials
      .row.mx-5
        .col-md-6.col-lg-5
          h5.section-subtitle
          h2.section-title.mainTexts.mb-3
            | DEVUGEES
          | The Digital Career Institute operates the Devugees training program for refugees who are interested in technical qualifications for the German job market. We are convinced that Devugees will help integrate refugees more effectively into German society. In our opinion, education is the most important key to a successful life anywhere.
          
          div.a.btn.btn-lg.btn-outline-primary.browserCourses.mt-3(href='/pages/devugees', role='button', aria-pressed='true') More about Devugees
         
        .col-md-6.col-lg-7
          .video-placeholder.videolightbox-popup
            a.popup-video(href='https://www.youtube.com/watch?v=5z2xhOng4Us', data-scr='https://www.youtube.com/watch?v=5z2xhOng4Us')
