mixin upcomingEvents
  section#events.section-counter
    .container.container-events
      .section-title-area
        h5.section-subtitle Come see us
        h4.section-title Upcoming Event
    

      each event in events
        +singleEvent(event)
