mixin upcomingEvents
    section#events.bg-light.py-5
      .container
        h2.display-1.text-center.text-uppercase Upcoming events
        h3.mb-5.text-center.text-muted Meet us in person in several locations in Germany.
        .row.mx-md-5
          each event in events
            +singleEvent(event)
