name: trigger_deploy
on:
  push  
jobs:
  deploy-remote-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Event Information
        run: |
          echo "Event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'"
      - name: Trigger Deploy - Dispatch initiating repository event for infrastructure repo to trigger a deployment
        if: github.event.action != 'deploy_successful'
        run: |
          curl -X POST https://api.github.com/repos/DigitalCareerInstitute/infrastructure/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.` }} \
          --data '{"event_type": "trigger_deploy", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
      - name: ACK - Acknowledge deploy_successful from remote infrastructure repository
        if: github.event.action == 'deploy_successful'
        run: |
           echo "Done"
